---
import { Image } from "astro:assets";
import fondoPrincipal from '../section2/assets/fondo1.webp';
import mano1 from '../section2/assets/mano1.webp';
import mano2 from '../section2/assets/mano2.webp';
import redgif from '../section2/assets/red.gif';
import cambiar from '../section2/assets/cambiar.svg';
import interaccion from '../section2/assets/interaccion.svg';
import card1Img from '../section2/assets/card1-jerarquias.webp';
import card2Img from '../section2/assets/card2-redes.webp';
import card3Img from '../section2/assets/card3-individuos.webp';
import card4Img from '../section2/assets/card4-operaciones.webp';
import tic1 from '../section2/assets/tic1.webp';
import tic2 from '../section2/assets/tic2.webp';
import tic3 from '../section2/assets/tic3.webp';
import AudioPlayer from '@components/AudioPlayer.astro';
import Accordeon from '@components/Accordion.astro';
import Slider from './Slider.astro';
import Cuadro from "@components/Cuados.astro";
---
<section id="seccion2-1">
  <!-- BANNER PRINCIPAL -->
  <div class="w-screen h-screen parte1 flex flex-col justify-end banner-principal relative">
    <div class="degradado-banner absolute w-screen h-screen"></div>
    <div class="titulo-seccion z-10 w-screen text-center pb-36">
      <div class="text-[62px] font-bold font-['Inika'] azul6 z-10 mb-4">
        Modos de operación de las redes de
      </div>
      <div class="z-10 text-[100px] azul6 uppercase font-['Formula'] font-bold leading-none">
        Tráfico Ilícito de Migrantes
      </div>
    </div>
    <Image src={mano1} alt="" class=" absolute left-[15%] top-0 z-10"/>
    <Image src={mano2} alt="" class=" absolute right-0 top-1/4 z-10"/>
    <Image src={redgif} alt="" class=" absolute top-0 left-0 w-[100%] z-[1]"/>
  </div>

  <!-- ESTRUCTURAS DE OPERACION -->
  <div class="fondo-marron bg-[#333] relative min-h-screen pt-32 pb-32">
    <p class="blanco text-4xl max-w-[1000px] ml-auto mr-auto text-center bg-[#333] z-10 relative">
      <b class="naranja4 font-bold">LAS ESTRUCTURAS DE OPERACIÓN DE TRÁFICO ILÍCITO DE MIGRANTES (TIM) 
      VARÍAN DEPENDIENDO DE FACTORES</b> como la geografía del terreno, la cantidad de 
      flujos migratorios, la capacidad económica y la
      nacionalidad de las personas migrantes, la presencia de otros grupos delictivos, 
      la eficacia en los controles fronterizos, la aplicación de las leyes de migración 
      y la capacidad organizativa de las redes de TIM.
    </p>

    <p class="naranja3 uppercase font-['Formula'] tracking-[0.04em] leading-[1.2] text-[4.5rem] text-center max-w-[1000px] font-bold pt-36 pb-36 ml-auto mr-auto bg-[#333] z-10 relative">Estructuras de operación del TRÁFICO ILÍCITO DE MIGRANTES en la región</p>

    <div class="mensaje-interaccion flex text-center gap-4 flex-row items-center justify-center pb-16 blanco italic text-[1.2rem]">
      <Image src={interaccion} alt=""/> <span>Pase el cursor sobre cada tarjeta:</span>
    </div>
    <!-- CARDS -->
    <div class="cards-estructuras grid grid-cols-4 gap-4 max-w-[1000px]  ml-auto mr-auto bg-[#333] z-10 relative pb-24">
      <div class="card-image">
        <Image src={card1Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-2xl font-light	pl-6 pr-6 pb-4">Jerarquías</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight">Poseen una organización transnacional compleja. Se utilizan usualmente para viajes bien organizados, a menudo desde Asia, África y Suramérica.
          </div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card2Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-2xl font-light	pl-6 pr-6 pb-4">Redes</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight">Personas participantes operan con autonomía y en colaboraciones similares a las “comerciales”. Poseen vínculos con organizaciones criminales (salvoconductos).
          </div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card3Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-2xl font-light	pl-6 pr-6 pb-4">Individuos</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight"> Se encuentran frecuentemente en comunidades fronterizas. Actúan por subsistencia y brindan servicios como venta de comida y artículos, transporte, hospedaje y telecomunicaciones.</div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card4Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-2xl font-light	pl-6 pr-6 pb-4">Operaciones mixtax</div>
          <div class="desc-estructura text-[#1F1F1F] text-lg leading-tight"> Este es el perfil predominante en la región. Consiste en una mezcla de jerarquías con redes entre países y que a la vez contratan individuos.</div>
        </div>
      </div>
    </div>

    <div class="text-center blanco text-xl w-screen">(UNODC, 2018)</div>
  </div>

  <!-- COSTOS ASOCIADOS -->
  <div class="costos-asociados relative">
    <AudioPlayer
        src="/audios/audio1.mp3" 
        title="Carácter transnacional de las redes de Tráfico ilícito de Migrantes." 
        subtitle="Extracto de entrevista a una persona funcionaria de gobierno." 
      />
    <!-- PARTE CLARA -->
    <div class="parte-clara relative pt-[16rem] pb-36">
      <div class="overlay z-0"></div>
      <p class="naranja3  uppercase font-['Formula'] tracking-wider leading-[1.2] text-[4.5rem] text-center max-w-[900px] font-bold ml-auto mr-auto z-10 relative">
        Costos asociados al Tráfico Ilícito de Migrantes (tim)
      </p>
      <p class="relative z-10 max-w-[900px] mr-auto ml-auto text-4xl font-medium pt-10 text-center">
        La OIM ha identificado diferentes tipos de paquetes ofertados por las redes de TIM.
         Sus precios <b class="naranja2">varían según diversos factores</b> como: país de donde inicia el viaje,
          tipo de trasporte, nacionalidad de las personas migrantes, entre otros.
      </p>
    </div>

    <!-- PARTE OSCURA -->
    <div class="parte-oscura relative seccion-slider">
      <Slider />
    </div>

    <!-- PARTE CLARA -->
    <div class="parte-clara relative pt-[4rem] pb-[4rem]">
      <div class="overlay z-0"></div>
      <div class="doble-coloumna grid grid-cols-2 max-w-[1120px] ml-auto mr-auto z-10 relative font-light">
        <div class="col-izquierda p-8 border-r-[3px] border-b-[3px] border-[#45AFC0] border-dashed pr-[3.25rem] pb-[4rem]">
          <p class="text-[28px] leading-[140%]">
            Las <span class="naranja font-bold">mujeres</span> suelen pagar más que los hombres por el uso del TIM
          </p>
          <p class="font-['Formula'] text-[96px] font-bold tracking-[1.92px] naranja">
            (19% <span class="text-[80px] tracking-[1.6px]">más</span>),
          </p>
          <p class="text-[28px] leading-[140%] -mt-[24px]">
            debido a que tienden a viajar con niñas, niños y adolescentes. Además, 
            a lo largo de su trayecto tienen mayor riesgo de ser víctimas de violencia de género.
          </p>
        </div>
        <div class="col-derecha p-8 border-b-[3px] border-[#45AFC0] border-dashed pl-[6.5rem]">
          <p class="text-[28px] leading-[140%]">Con respecto a</p>
          <p class="text-[48px] naranja font-['Formula'] tracking-[0.96px] font-bold leading-[1.2] pt-2 max-w-[350px]">niñas, niños y adolescentes (NNA),</p>
          <p class="text-[28px] leading-[140%]">
            se reporta que en ciertos cruces pagan
            tarifas menores o se les permite el viaje gratuito.
          </p>
        </div>
      </div>
      <div class="texto-migrantes max-w-[1120px] text-center font-light text-[28px] relative z-10 mr-auto ml-auto pt-[3rem]">
        <p class="font-light  leading-[1.2]">
          A las personas <b class="naranja font-['Formula'] text-[36px] font-bold tracking-[0.72px]">migrantes extrarregionales</b> provenientes de la República Bolivariana de
          Venezuela, y a <b class="naranja font-['Formula'] text-[36px] font-bold tracking-[0.72px]">migrantes extracontinentales</b> de África y Asia, se les cobra tarifas más 
          elevadas y en dólares de los Estados Unidos de América (OIM, 2022).
        </p>
      </div>
    </div>
  </div>


  <div class="cuadro-naranja w-screen h-screen bg-[#B85600] flex items-center min-h-[792px]">
    <!-- <Cuadro texto="Esto es un texto <b>texto</b>" estilos="bg-[#ffffff]"/> 
    <Cuadro titulo="Pruebas de texto" texto="Esto es un texto <b>texto</b>" creador="OIM 2019"/> 
    <Cuadro texto="Esto es un texto <b>texto</b>" />  -->
    <div class="bg-[url('/src/components/sections/section2/assets/KFS_Tijuana.webp')] min-h-[600px] w-screen bg-cover grid items-center">
      <div class="grid grid-cols-12 items-center max-w-[1120px] ml-auto mr-auto gap-16">
        <div class=" col-span-7">
          <h1 class="font-['Formula'] text-[4.5rem] font-bold tracking-[1.56px] uppercase leading-[1.3] text-[#F6F4F3] color-title-cuadro">Cobros del crimen organizado a las redes de TIM para transitar por territorios controlados</h1>
        </div>
        <div class="col-span-5">
          <Cuadro 
            titulo='<b class="text-[#000000] ">"Derecho de piso"<br>"Jale"<br>"Derecho de tránsito"</b>' 
            texto="Estos conceptos hacen referencia a los cobros que grupos criminales hacen a las personas migrantes para poder transitar por territorios controlados por el crimen organizado."
            estilos="bg-[white] bg-[url('/src/components/sections/section1/assets/fondo-cuadros.webp')] bg-no-repeat bg-cover max-w-[430px]"
          />
        </div>
      </div>      
    </div>
  </div>


  <div class=" bg-[#333] text-[1.75rem] font-light pt-[13rem] pb-[4.75rem] min-h-[560px] relative">
    <AudioPlayer
        src="/audios/audio1.mp3" 
        title="Las redes de tráfico marcan a las personas migrantes para identificarlas." 
        subtitle="Extracto de entrevista a una persona funcionaria de la sociedad civil." 
      />
      <div class="textos max-w-[1120px] mr-auto ml-auto blanco">
        <p class="pb-12">
          La OIM identificó que ciertas redes de Tráfico Ilícito de Migrantes operan en las mismas zonas que las redes de
          crimen organizado, por lo que <b class="naranja4 font-bold">comparten territorios o rutas.</b>
        </p>
        <p>
          La falta de pago del derecho al tránsito por parte de redes y personas traficantes
          o de personas migrantes, puede tener graves consecuencias como el
          <b class="naranja4 font-bold">reclutamiento forzoso, la trata de personas e incluso la muerte.</b>
        </p>
      </div>

  </div>
  
  <div class="bg-[url('/src/components/sections/section2/assets/textura-sliders.webp')] pt-16 pb-16 section-acordeon">
    <Accordeon 
      title="PROMOCIÓN DEL TIM" 
      details=`
        <p class=" text-[1.75rem] leading-[140%] font-bold text-center pb-8 mb-8">
          <b class="text-[#1870A0]">La difusión del Tráfico Ilícito de Migrantes (TIM)</b> 
          se realiza a través de las siguientes
          modalidades:
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
           a
           </span>
          de manera presencial;  
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
          b
          </span>
          mediante referencia de familiares y conocidos;   
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
          c
          </span>
          y mediante las tecnologías de información y comunicación, incluyendo redes sociales.
        </p>

        <div class="flex flex-col max-w-[950px] mr-auto ml-auto text-[20px]">
          <div class="flex flex-row items-center gap-8 pb-6 relative">
            <img src="/src/components/sections/section2/assets/tic1.webp" alt="imagen">
            <p class="pr-[6rem]">
              En la era de la información, la tecnología ha dado condiciones de virtualidad, inmediatez y comunicación que han sido aprovechadas por las organizaciones o las redes de crimen
              organizado adaptando sus operaciones a estas facilidades.
            </p>
            <img src="/src/components/sections/section2/assets/lineas-derecha.webp" alt="imagen" class="absolute -right-8 top-20">
          </div>

          <div class="flex flex-row items-center gap-8 pb-6 relative">
            <img src="/src/components/sections/section2/assets/lineas-izquierda.webp" alt="imagen" class="absolute -left-[3.5rem] top-16">
            <p class="pl-[3rem]">
              <b class="font-bold naranja3">ACTUALMENTE, ES A TRAVÉS DE LAS REDES SOCIALES POR DONDE SE DAN A CONOCER
              LA MAYORÍA DE LOS SERVICIOS DE TIM.</b> Esto se debe a la facilidad para contactar a la
              “clientela”, sin requerir la presencia física de las personas traficantes y permiten un mayor
              alcance (OIM, 2023).
            </p>
            <img src="/src/components/sections/section2/assets/tic2.webp" alt="imagen">
          </div>

          <div class="flex flex-row items-center gap-8">
            <img src="/src/components/sections/section2/assets/tic3.webp" alt="imagen">
            <p>
              Facebook y TikTok son las redes sociales más utilizadas para la promoción de servicios de TIM.
            </p>
          </div>

        </div>
      `;
    />
  </div>

</section>

<style>
  .color-title-cuadro {
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);

  }
</style>