---
import { Image } from "astro:assets";
import "./style.css";
import MapadeRutas from "./MapaRutas.astro";

import fondoPrincipal from '../section2/assets/fondo1.webp';
import mano1 from '../section2/assets/mano1.webp';
import mano2 from '../section2/assets/mano2.webp';
import redgif from '../section2/assets/red.gif';
import cambiar from '../section2/assets/cambiar.svg';
import interaccion from '../section2/assets/interaccion.svg';
import card1Img from '../section2/assets/card1-jerarquias.webp';
import card2Img from '../section2/assets/card2-redes.webp';
import card3Img from '../section2/assets/card3-individuos.webp';
import card4Img from '../section2/assets/card4-operaciones.webp';
import imgIzquierda from '../section2/assets/img-popup-izq.webp';
import cta from '../section2/assets/CTA.webp';
import vectorLi from '../section2/assets/vector-li.svg';
import MapaRutas from '../section2/assets/Mapa-rutas.webp';
import AudioPlayer from '@components/AudioPlayer.astro';
import Accordeon from '@components/Accordion.astro';
import Slider from './Slider.astro';
import CostosResponsive from "./CostosResponsive.astro";
import Cuadro from "@components/Cuados.astro";
import Popup from "@components/Popup.astro";
import IcoInfo from "@components/IcoInfo.astro";
import Textura2_3 from "@components/sections/section2/assets/Textura2-3.webp"


---
<section id="seccion2-1">
  <!-- BANNER PRINCIPAL -->
  <div class="w-screen h-screen parte1 flex flex-col justify-end banner-principal relative">
    <div class="degradado-banner absolute w-screen h-screen"></div>
    <div class="titulo-seccion z-20 w-screen text-left pb-36 pl-8 md:pl-[6rem]">
      <div class="text-[25px] lg:text-[62px] font-bold font-serif azul6 z-10 mb-4">
        Modos de operación de las redes de
      </div>
      <div class="z-10 text-[45px] lg:text-[100px] azul6 uppercase font-formula font-bold leading-none">
        Tráfico Ilícito de Migrantes
      </div>
    </div>
    <Image src={mano1} alt="" class=" absolute left-[15%] top-0 z-10 manobanner1 max-w-[250px] md:max-w-[500px] h-auto 2xl:max-w-[621px]" />
    <Image src={mano2} alt="" class=" absolute right-0 top-1/4 z-10 manobanner2 max-w-[250px] md:max-w-[550px] h-auto 2xl:max-w-[678px]"/>
    <Image src={redgif} alt="" class=" absolute top-0 left-0 w-[100%] z-[1]"/>
  </div>

  <!-- ESTRUCTURAS DE OPERACION -->
  <div class="fondo-marron bg-[#333] relative min-h-screen pt-32 pb-32 estructuras-operacion">
    <p class="blanco text-2xl lg:text-4xl max-w-[90%] lg:max-w-[1020px] ml-auto mr-auto text-center bg-[#333] z-10 relative animacion-up">
      <b class="naranja4 font-black">LAS ESTRUCTURAS DE OPERACIÓN DE TRÁFICO ILÍCITO DE MIGRANTES (TIM) 
      VARÍAN DEPENDIENDO DE FACTORES</b> como la geografía del terreno, la cantidad de 
      flujos migratorios, la capacidad económica y la
      nacionalidad de las personas migrantes, la presencia de otros grupos delictivos, 
      la eficacia en los controles fronterizos, la aplicación de las leyes de migración 
      y la capacidad organizativa de las redes de TIM.
    </p>

    <p class="naranja3 uppercase font-formula tracking-[0.04em] 
    leading-[1.2] text-[2.5rem] lg:text-[4.5rem] text-center max-w-[90%] lg:max-w-[1000px] 
    font-bold pt-16 lg:pt-48 pb-16 ml-auto mr-auto bg-[#333] z-10 
    relative animacion-up">
      Estructuras de operación del TRÁFICO ILÍCITO DE MIGRANTES en la región
    </p>

    <div class="mensaje-interaccion  text-center gap-4 flex-row items-center justify-center pb-16 blanco italic text-[1.2rem] animacion-up hidden md:flex">
      <Image src={interaccion} alt=""/> <span>Pase el cursor sobre cada tarjeta:</span>
    </div>
    <div class="mensaje-interaccion flex text-center gap-4 flex-row items-center justify-center pb-16 blanco italic text-[1.2rem] animacion-up md:hidden">
      <Image src={interaccion} alt=""/> <span>Toque cada tarjeta:</span>
    </div>
    <!-- CARDS -->
    <div class="cards-estructuras grid grid-cols-1 lg:grid-cols-4 gap-4 max-w-[90%] lg:max-w-[1000px]  ml-auto mr-auto bg-[#333] z-10 relative pb-9 animacion-up">
      <div class="card-image">
        <Image src={card1Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-3xl font-light	pl-6 pr-6 pb-4">Jerarquías</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight">Poseen una organización transnacional compleja. Se utilizan usualmente para viajes bien organizados, a menudo desde Asia, África y Suramérica.
          </div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card2Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-3xl font-light	pl-6 pr-6 pb-4">Redes</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight">Personas participantes operan con autonomía y en colaboraciones similares a las “comerciales”. Poseen vínculos con organizaciones criminales (salvoconductos).
          </div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card3Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-3xl font-light	pl-6 pr-6 pb-4">Individuos</div>
          <div class="desc-estructura  text-[#1F1F1F] text-lg leading-tight"> Se encuentran frecuentemente en comunidades fronterizas. Actúan por subsistencia y brindan servicios como venta de comida y artículos, transporte, hospedaje y telecomunicaciones.</div>
        </div>
      </div>
      <div class="card-image">
        <Image src={card4Img} alt="" class=" cursor-pointer"/>
        <div class="texto-estructura opacity-0 cursor-pointer">
          <Image src={cambiar} alt="" class="cursor-pointer absolute right-1 top-1"/>
          <div class="titulo-estrutura text-[#B85600] font-['Formula'] text-3xl font-light	pl-6 pr-6 pb-4">Operaciones mixtas</div>
          <div class="desc-estructura text-[#1F1F1F] text-lg leading-tight"> Este es el perfil predominante en la región. Consiste en una mezcla de jerarquías con redes entre países y que a la vez contratan individuos.</div>
        </div>
      </div>
    </div>

    <div class="text-center blanco text-xl w-screen pb-14">(UNODC, 2018)</div>
  </div>

  <!-- COSTOS ASOCIADOS -->
  <div class="costos-asociados relative">
    <AudioPlayer
        src="/audios/Audio2_op2.mp3" 
        title="Carácter transnacional de las redes de Tráfico ilícito de Migrantes." 
        subtitle="Extracto de entrevista a una persona funcionaria de gobierno." 
      />
    <!-- PARTE CLARA -->
    <div class="parte-clara relative pt-[16rem] pb-36">
      <div class="overlay z-0"></div>
      <p class=" animacion-up naranja3  uppercase 
      font-formula tracking-wider leading-[1.2] 
      text-[2.5rem] lg:text-[4.5rem] text-center max-w-[90%] lg:max-w-[900px] font-bold ml-auto mr-auto z-10 relative">
        Costos asociados al Tráfico Ilícito de Migrantes (tim)
      </p>
      <p class="animacion-up relative z-10 max-w-[90%] lg:max-w-[970px] mr-auto ml-auto text-xl lg:text-4xl font-bold pt-10 text-center">
        La OIM ha identificado diferentes tipos de paquetes ofertados por las redes de TIM.
         Sus precios <b class="text-[#B85600] font-black">varían según diversos factores</b> como: país de donde inicia el viaje,
          tipo de trasporte, nacionalidad de las personas migrantes, entre otros.
      </p>
    </div>

    <!-- PARTE OSCURA -->
    <div class="parte-oscura relative seccion-slider hidden md:block">
      <Slider />
    </div>
    <div class="parte-oscura relative seccion-slider md:hidden">
      <CostosResponsive />
    </div>
    

    <!-- PARTE CLARA -->
    <div class="parte-clara relative pt-4 pb-4 lg:pt-[4rem] lg:pb-[4rem] texto-migrantes-extra">
      <div class="overlay z-0"></div>
      <div class="doble-coloumna grid grid-cols-1 md:grid-cols-2 max-w-[90%] lg:max-w-[1120px] ml-auto mr-auto z-10 relative font-light">
        <div class=" animacion-up col-izquierda p-8 border-r-[3px] border-b-[3px] border-[#45AFC0] border-dashed pr-[3.25rem] pb-[4rem]">
          <p class="text-[20px] lg:text-[28px] leading-[140%]">
            Las <span class="naranja font-bold">mujeres</span> suelen pagar más que los hombres por el uso del TIM
          </p>
          <p class="font-['Formula'] text-[28px] lg:text-[96px] font-bold tracking-[1.92px] naranja">
            (19% <span class="text-[28px] lg:text-[80px] tracking-[1.6px]">más</span>),
          </p>
          <p class="text-[20px] lg:text-[28px] leading-[140%] mt-0 lg:-mt-[24px]">
            debido a que tienden a viajar con niñas, niños y adolescentes. Además, 
            a lo largo de su trayecto tienen mayor riesgo de ser víctimas de violencia de género.
          </p>
        </div>
        <div class="animacion-up col-derecha p-8 border-b-[3px] border-[#45AFC0] border-dashed pl-6 lg:pl-[6.5rem]">
          <p class="text-[20px] lg:text-[28px] leading-[140%]">Con respecto a</p>
          <p class="text-[28px] lg:text-[48px] naranja font-formula tracking-[0.96px] font-bold leading-[1.2] pt-2 max-w-[350px]">niñas, niños y adolescentes (NNA),</p>
          <p class="text-[20px] lg:text-[28px] leading-[140%]">
            se reporta que en ciertos cruces pagan
            tarifas menores o se les permite el viaje gratuito.
          </p>
        </div>
      </div>
      <div class="texto-migrantes max-w-[90%] lg:max-w-[1120px] text-center font-light text-[20px] lg:text-[28px] relative z-10 mr-auto ml-auto pt-[3rem]">
        <p class="animacion-up font-light  leading-[1.2]">
          A las personas <b class="naranja font-formula text-[22px] lg:text-[36px] font-bold tracking-[0.72px]">migrantes extrarregionales</b> provenientes de la República Bolivariana de
          Venezuela, y a <b class="naranja font-formula text-[22px] lg:text-[36px] font-bold tracking-[0.72px]">migrantes extracontinentales</b> de África y Asia, se les cobra tarifas más 
          elevadas y en dólares de los Estados Unidos de América (OIM, 2022).
        </p>
      </div>
    </div>
  </div>


  <div class="cuadro-naranja w-screen h-screen bg-[#B85600] flex items-center min-h-[792px] texto-cobros-crimen">
    <!-- <Cuadro texto="Esto es un texto <b>texto</b>" estilos="bg-[#ffffff]"/> 
    <Cuadro titulo="Pruebas de texto" texto="Esto es un texto <b>texto</b>" creador="OIM 2019"/> 
    <Cuadro texto="Esto es un texto <b>texto</b>" />  -->
    <div class="bg-[url('/src/components/sections/section2/assets/KFS_Tijuana.webp')] min-h-[600px] w-screen bg-cover grid items-center relative">
      <div class="grid lg:grid-cols-12 items-center max-w-[90%] lg:max-w-[1120px] ml-auto mr-auto gap-16">
        <div class="lg:col-span-7 animacion-left">
          <h1 class="font-formula text-[2rem] lg:text-[4.5rem] font-bold tracking-[1.56px] uppercase leading-[1.3] text-[#F6F4F3] color-title-cuadro">
            Cobros del crimen organizado a las redes de TIM para transitar por territorios controlados
          </h1>
          <div class="md:hidden bg-blanco p-4 mt-8">
            <b>"Derecho de piso"
            "Jale"
            "Derecho de tránsito"</b>
            <br>
            Estos conceptos hacen referencia a los cobros que grupos criminales hacen a las personas migrantes para poder transitar por territorios controlados por el crimen organizado.
          </div>
        </div>
        <div class="col-span-5 hidden lg:block">
          <Cuadro 
            titulo='<b class="text-[#000000] ">"Derecho de piso"<br>"Jale"<br>"Derecho de tránsito"</b>' 
            texto="Estos conceptos hacen referencia a los cobros que grupos criminales hacen a las personas migrantes para poder transitar por territorios controlados por el crimen organizado."
            estilos="animacion-right bg-[white] bg-[url('/src/components/sections/section1/assets/fondo-cuadros.webp')] bg-no-repeat bg-cover max-w-[430px]"
          />
        </div>
      </div> 
      <div class="fuente-imagen absolute w-screen   bottom-4">
        <div class="max-w-[1120px] mx-auto text-right text-[20px] tracking-[0.4px] text-[#F6F4F3]">© OIM 2023</div>
      </div>   
    </div>
  </div>


  <div class=" bg-[#333] text-[1rem] lg:text-[1.75rem] font-light pt-[13rem] pb-[4.75rem] min-h-[560px] relative seccion2-parte5">
    <AudioPlayer
        src="/audios/Audio3_op3.mp3" 
        title="Las redes de tráfico marcan a las personas migrantes para identificarlas." 
        subtitle="Extracto de entrevista a una persona funcionaria de la sociedad civil." 
      />
      <div class="textos max-w-[90%] lg:max-w-[1120px] mr-auto ml-auto blanco animacion-up">
        <p class="pb-12">
          La OIM identificó que ciertas redes de Tráfico Ilícito de Migrantes operan en las mismas zonas que las redes de
          crimen organizado, por lo que <b class="naranja4 font-bold">comparten territorios o rutas.</b>
        </p>
        <p>
          La falta de pago del derecho al tránsito por parte de redes y personas traficantes
          o de personas migrantes, puede tener graves consecuencias como el
          <b class="naranja4 font-bold">reclutamiento forzoso, la trata de personas e incluso la muerte.</b>
        </p>
      </div>

  </div>
  
  <div class="pt-16 pb-16 section-acordeon seccion2-parte6 bg-fixed" style={`background-image: url('${Textura2_3.src}')`}>
    <div class="max-w-[80%] lg:max-w-[1120px] mr-auto ml-auto text-center text-[1rem] lg:text-[1.75rem] animacion-up">
      <p class="text-center animacion-up">
        <h1 class="text-center naranja2 font-formula text-2xl lg:text-[3rem] uppercase max-w-[1100px] mr-auto ml-auto font-bold leading-[1.2] pb-8">
          LOS MODOS DE OPERAR DEL TRÁFICO ILÍCITO DE MIGRANTES (TIM) 
          VARÍAN dependiendo dEL TIPO Y TAMAÑO DE LA OPERACIÓN, Y DEL LUGAR DONDE SE ESTÉ LLEVANDO A CABO.
        </h1>      
      </p>
      <p class="text-center pb-16 animacion-up">
        Estas actividades van desde cómo se establecen comunicaciones con las personas migrantes, sus costos y características, las formas de pago y los medios de transporte.
      </p>
    </div>
    
    <div class="seccion2-acordeon1-modos">
      <Accordeon 
      title="PROMOCIÓN DEL TIM" 
      details=`
        <p class="text-[1rem] lg:text-[1.75rem] leading-[140%] font-bold text-center pb-8 mb-8">
          <b class="text-[#1870A0]">La difusión del Tráfico Ilícito de Migrantes (TIM)</b> 
          se realiza a través de las siguientes
          modalidades:
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
           a
           </span>
          de manera presencial;  
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
          b
          </span>
          mediante referencia de familiares y conocidos;   
          <span class="bg-[url('/src/components/sections/section2/assets/Vector.svg')] blanco spanfondo">
          c
          </span>
          y mediante las tecnologías de información y comunicación, incluyendo redes sociales.
        </p>

        <div class="flex flex-col max-w-[90%] lg:max-w-[950px] mr-auto ml-auto text-[1rem] lg:text-[20px]">
          <div class="flex flex-row items-center gap-8 pb-6 relative">
            <img src="/sections/section2/assets/tic1.webp" alt="imagen" class="hidden md:block">
            <p class="pr-[6rem]">
              En la era de la información, la tecnología ha dado condiciones de virtualidad, inmediatez y comunicación que han sido aprovechadas por las organizaciones o las redes de crimen
              organizado adaptando sus operaciones a estas facilidades.
            </p>
            <img src="/sections/section2/assets/lineas-derecha.webp" alt="imagen" class="absolute -right-8 top-20 hidden md:block" >
          </div>

          <div class="flex flex-row items-center gap-8 pb-6 relative">
            <img src="/sections/section2/assets/lineas-izquierda.webp" alt="imagen" class="absolute -left-[3.5rem] top-16 hidden md:block" >
            <p class="pl-[3rem]">
              <b class="font-bold naranja3">ACTUALMENTE, ES A TRAVÉS DE LAS REDES SOCIALES POR DONDE SE DAN A CONOCER
              LA MAYORÍA DE LOS SERVICIOS DE TIM.</b> Esto se debe a la facilidad para contactar a la
              “clientela”, sin requerir la presencia física de las personas traficantes y permiten un mayor
              alcance (OIM, 2023).
            </p>
            <img src="/sections/section2/assets/tic2.webp" alt="imagen" class="hidden md:block">
          </div>

          <div class="flex flex-row items-center gap-8">
            <img src="/sections/section2/assets/tic3.webp" alt="imagen" class="hidden md:block">
            <p>
              Facebook y TikTok son las redes sociales más utilizadas para la promoción de servicios de TIM.
            </p>
          </div>

        </div>
      `;
    />
    </div>
    
    <div class="seccion2-acordeon2-modos">
      <Accordeon 
        title="USO DE SERVICIOS LÍCITOS EN EL TIM" 
        details=`
          <img src="/sections/section2/assets/si-tim.webp" alt="" />
        `
      />
    </div>
  </div>


  <div class=" bg-[#333] text-[1.2rem] lg:text-[1.75rem] font-light pt-[4rem] pb-[4rem] min-h-[560px] relative flex flex-row items-center seccion2-parte7">
 
      <div class="textos max-w-[90%] lg:max-w-[1120px] mr-auto ml-auto blanco animacion-left">
        <hr class="text-[#FFC999] pb-12">
        <p>
          <h1 class="text-[#FFC999] text-[2.5rem] lg:text-[4.5rem] font-bold font-['Formula'] tracking-[1.52px] leading-[1.2] ">
            VULNERABILIDADES ESTRUCTURALES EN LAS ZONAS FRONTERIZAS Y DE TRÁNSITO
          </h1>
        </p>
        <p>
          Los escenarios donde operan en mayor cantidad las redes de Tráfico Ilícito de Migrantes son zonas caracterizadas
          por el <b class="text-[#FFC999] font-bold">bajo desarrollo, limitado acceso a la educación y a oportunidades de empleo.</b> Esto
          influye para que poblaciones vulnerables como mujeres, personas indígenas, o niñas, niños y adolescentes se
          vinculen de diferentes maneras con esta actividad.
        </p>
      </div>
  </div>

  <!-- SECTIONS POPUPS -->
  <div class="w-screen lg:h-screen bg-[#333] relative grid grid-cols-1 lg:grid-cols-2 seccion2-parte8">
    <div class="img-izquierda bg-[#0000006b] bg-[url('/src/components/sections/section2/assets/img-izquierda.webp')] bg-cover flex flex-row items-end gap-8 pb-12  hover:bg-blend-color">
      <div class="max-w-[700px] ml-auto pl-8 cursor-pointer" id="interaccion-izquierda">
        <h1 class="blanco font-['Inika'] text-[2rem] lg:text-[3rem] pr-[5rem] font-bold leading-[1.2] pb-2 lg:pb-8 animacion-left pt-8 lg:pt-0">
          El rol de las mujeres en el Tráfico Ilícito de Migrantes
        </h1>
        <Image src={interaccion} alt="Interacción" class="pb-8 mr-auto ml-auto cursor-pointer" />
      </div>
      <div class="popup fixed" id="popup-izquierda">
        <span class="close-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
            <path d="M9.15865 51.5786C6.29334 48.8112 4.00787 45.5009 2.4356 41.8408C0.863334 38.1807 0.0357472 34.2441 0.0011327 30.2607C-0.0334818 26.2773 0.725569 22.3269 2.234 18.64C3.74242 14.9531 5.97002 11.6036 8.7868 8.7868C11.6036 5.97002 14.9531 3.74242 18.64 2.234C22.3269 0.725569 26.2773 -0.0334818 30.2607 0.0011327C34.2441 0.0357472 38.1807 0.863334 41.8408 2.4356C45.5009 4.00787 48.8112 6.29334 51.5786 9.15865C57.0434 14.8167 60.0672 22.3948 59.9989 30.2607C59.9305 38.1266 56.7754 45.651 51.2132 51.2132C45.651 56.7754 38.1266 59.9305 30.2607 59.9989C22.3948 60.0672 14.8167 57.0434 9.15865 51.5786ZM34.5686 30.3686L43.0586 21.8786L38.8286 17.6486L30.3686 26.1386L21.8786 17.6486L17.6486 21.8786L26.1386 30.3686L17.6486 38.8586L21.8786 43.0886L30.3686 34.5986L38.8586 43.0886L43.0886 38.8586L34.5986 30.3686H34.5686Z" fill="#F6F4F3"/>
          </svg>
        </span>
        <div class="bg-[url('/src/components/sections/section2/assets/img-izquierda.webp')] bg-cover grid  lg:grid-cols-12 w-screen h-screen">
          <div class="col-span-7 flex items-center max-h-[100vh] bg-[#0000007d]">
            <Image src={imgIzquierda} alt="" class=" object-contain mr-auto ml-auto max-h-full" />
          </div>
          <div class="col-span-5 bg-[#B85600] blanco p-16 pt-16 pb-16 pr-[6rem] flex flex-col justify-center gap-8">
            <p>
              <h1 class="blanco font-['Inika'] text-[2rem] 2xl:text-[3rem] font-bold color-title-cuadro leading-[1.2]">
                El rol de las mujeres en el Tráfico Ilícito de Migrantes
              </h1>
            </p>
            <p class="font-bold text-[1rem] 2xl:text-[1.5rem] leading-[140%]">
              La mayoría de las mujeres se desempeñan en roles de guías, enganchadoras, monitoras,
              coordinadoras o proveedoras de servicios (OIM y UNODC, 2024).
            </p>
            <p class="text-[1rem] 2xl:text-[1.5rem] leading-[140%] text-[#FFD976] font-medium">
              Muchas de estas mujeres se encuentran en <b class="font-extrabold">SITUACIÓN DE VULNERABILIDAD</b> socioeconómica, lo cual potencia su vinculación en actividades del Tráfico Ilícito de Migrantes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="transition-all ease-in-out delay-150 img-derecha bg-[#0000006b] bg-[url('/src/components/sections/section2/assets/img-derecha.webp')] bg-cover flex flex-row items-end gap-8 pb-12 hover:bg-blend-color">
      <div class="max-w-[700px] mr-auto pr-8 cursor-pointer" id="interaccion-derecha">
        <h1 class="blanco font-['Inika'] text-[2rem] lg:text-[3rem] pl-6 lg:pl-[5rem] font-bold leading-[1.2] pb-8 animacion-right pt-8 lg:pt-0" >
          Las niñas, niños y adolescentes en el Tráfico Ilícito de Migrantes
        </h1>
       <Image src={interaccion} alt="" class="pb-8 mr-auto ml-auto cursor-pointer"  />
      </div>
      
      <Popup 
        contenido=
        `
          <div class="bg-[url('/src/components/sections/section2/assets/img-izquierda.webp')] bg-cover grid grid-cols-12 w-screen h-screen">
            <div class="col-span-12 lg:col-span-9 bg-[#B85600] blanco pl-4 lg:p-16 pt-4 lg:pt-16 pb-4 lg:pb-16 pr-8 lg:pr-[6rem] flex flex-col justify-center gap-8">
              <p>
                <h1 class="blanco font-['Inika'] text-[2rem] 2xl:text-[3rem] font-bold color-title-cuadro leading-[1.2]">
                  Las niñas, niños y adolescentes en el Tráfico Ilícito de Migrantes
                </h1>
              </p>
              <p class="font-bold text-[1rem] 2xl:text-[1.5rem] leading-[140%]">
                Las personas menores de edad son cada vez más suceptibles a ser reclutadas por las redes de Tráfico Ilícito de Migrantes, para apoyar en sus operaciones en actividades como ser guías, funcionar de enganche, monitoreo y para facilitar el transporte (OIM y UNODC, 2024).
              </p>
              <p class="text-[1rem] 2xl:text-[1.5rem] leading-[140%] text-[#FFD976] font-bold">
                CADA VEZ MÁS SE PUEDE IDENTIFICAR EL INVOLUCRAMIENTO DE NIÑAS, NIÑOS Y ADOLESCENTES ESPECIALMENTE EN COMUNIDADES CON ESCASAS OPORTUNIDADES DE ESTUDIO O TRABAJO.
              </p>
              
              <div class='icono-info' id="idInfoPopup">
                <div class="informacion relative flex flex-row justify-center">
                  <img src="/images/info.gif" alt="Info" class="icon-info cursor-pointer max-w-[80px]" id="idIconPopup">
                  <div class="info-content" id="inforcontenidoPopup">
                    <div class="content text-[#1F1F1F] text-[18px] text-center">Una de las zonas donde se ha identificado el
                      reclutamiento de NNA es la frontera norte de México, donde se les denomina “niños de
                      circuito”.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-span-3 md:flex items-center max-h-[100vh] bg-[#0000007d] hidden">
              <Image src="/sections/section2/assets/img-derecha.webp" alt="" class=" object-cover mr-auto ml-auto max-h-full h-screen" />
            </div>
          </div>
        `
        idPopup="popup-derecha"
        idInteraccion="interaccion-derecha"        
      />

    </div>

  </div>

  <!-- SECTIONS PRINCIPALES RUTAS -->
   <div class="bg-[#F6F4F3] min-h-screen pt-20 pb-20 seccion2-parte9">
    <div class="max-w-[90%] lg:max-w-[1100px] mr-auto ml-auto text-center text-[1rem] lg:text-[1.75rem]">
      <p>
        <h1 class=" naranja2 font-['Inika'] font-bold leading-normal text-[1.5rem] lg:text-[3rem] pb-8 lg:pb-20 animacion-left">
          Principales rutas del Tráfico Ilícito de Migrantes (TIM) identificadas en América Central, México y la República Dominicana
        </h1>
      </p>
      <p class="pb-8 lg:pb-20 animacion-right">
        Las principales rutas de TIM en la región se hacen por vía aérea, marítima y terrestre 
        <b class="font-bold naranja3">e incluyen cruces fronterizos oficiales, y no oficiales</b> (UNODC, 2018).
      </p>
    </div>
    <div class="bg-[url('/src/components/sections/section2/assets/KFS_Tijuana2.webp')] min-h-[800px] w-screen bg-cover grid items-center cuadro-amarillo relative">
      <div class="max-w-[90%] lg:max-w-[1120px] mr-auto ml-auto w-full ">
        <Cuadro 
            titulo='<b class="text-[#B85600] ">¿Qué es un hub en el Tráfico Ilícito de Migrantes"?</b>' 
            texto=`Un <b>“hub”</b> en el Tráfico Ilícito de Migrantes (TIM) es un lugar donde coinciden las personas que ofrecen el servicio de
            TIM como la persona que lo necesita. Este puede ser, por ejemplo, una terminal de autobuses.`
            estilos="bg-[#ffeabc] bg-[url('/src/components/sections/section1/assets/fondo-cuadros.webp')] bg-no-repeat bg-cover max-w-[430px] animacion-cuadro"
      />
      </div>
      <div class="absolute left-40 bottom-8 text-[#B85600] text-[20px]">
        © OIM 2023
      </div>

    </div>

    <div class="max-w-[90%] lg:max-w-[1120px] mr-auto ml-auto text-center text-[1rem] lg:text-[2rem] font-bold leading-[140%] pt-20 animacion-up">
      <p>Algunas rutas inician en Sudamérica, otras en Centroamérica a las que se suman personas
        migrantes provenientes desde Asia, África y Europa que tienen como destino la región de Norteamérica.</p>
    </div>

   </div>

   <!-- SECTION MAPA -->
    <div class="pb-20 bg-[#D6EDFF] overflow-hidden" id="seccion2MapaRutas">
      <MapadeRutas />

      <IcoInfo 
        idInfo="info-mapa" estilos="" idIcon="icon-mapa" estilosIco="flex items-center justify-center"
        contenido=
          `
            Entre las rutas identificadas se encuentra la ruta 
            terrestre hacia Norteamérica, que cruza la región de Centroamérica y México. 
            Esta es la ruta migratoria más transitada del mundo (UNODC, 2018).
          `
      />
    </div>
  
    <!-- Seccion Lista Eleccion de rutas -->
    <div class="bg-[#F6F4F3] pt-12 pb-20 seccion2-parte10">
      <div class="max-w-[90%] lg:max-w-[1200px] mr-auto ml-auto">
        <hr class="max-w-[1210px] text-[#E06900] border-t-[3px]">
          <h1 class="naranja3 font-['Formula'] font-bold tracking-[0.88px] leading-[140%] text-[1.5rem] lg:text-[2.7rem] pt-[2rem] pb-[1.5rem] text-center animacion-right">
            La elección de las rutas
            migratorias depende de los siguientes factores:
          </h1>

        <ul class="text-[1rem] lg:text-[1.75rem] leading-[140%] max-w-[1000px] mr-auto ml-auto">
          <li class="flex gap-[0.5rem] items-center animacion-left">
            <Image src={vectorLi} alt="" />
            El país desde donde se inicia el tránsito migratorio
          </li>
          <li class="flex gap-[0.5rem] items-center animacion-right">
            <Image src={vectorLi} alt="" />
            La disponibilidad de recursos económicos
          </li>
          <li class="flex gap-[0.5rem] items-center animacion-left">
            <Image src={vectorLi} alt="" />  
            Los requisitos de visado según la nacionalidad de la persona migrante
          </li>
          <li class="flex gap-[0.5rem] items-center animacion-right">
            <Image src={vectorLi} alt="" />  
            El clima
          </li>
          <li class="flex gap-[0.5rem] items-center animacion-left">
            <Image src={vectorLi} alt="" />  
            La presencia de autoridades policiales y migratorias.
          </li>
        </ul>

        <!-- <Image src={cta} alt="" class="ml-auto mr-auto cursor-pointer pt-[6rem]"> -->
      </div>
    </div>

</section>

<style>
  .color-title-cuadro {
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);

  }
  .popup {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* transition: display 0.6s ease; */
    transition: opacity 0.6s ease, visibility 0s 0.6s; /* Cambia display a visibility y opacity */
    color: white;
  }

  .popup.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  
</style>

<script>
  //Script para abrir el popup, al hacer cli sobre #interaccion-izquierda muestra .popup-derecha popup
  const interaccionIzquierda = document.getElementById('interaccion-izquierda');
  const popup = document.getElementById('popup-izquierda');
  const closeButton = document.querySelector('.close-button');

  // Mostrar el popup al hacer clic en interaccionIzquierda
  interaccionIzquierda.addEventListener('click', () => {
    //popup.style.display = 'flex';
    popup.classList.add('show');
  });

  // Cerrar el popup al hacer clic en el botón de cerrar
  closeButton.addEventListener('click', () => {
    // popup.style.display = 'none';
    popup.classList.remove('show');
  });



  let idInfo = 'idInfoPopup';
  let idIcon = 'idIconPopup';
  //Al hacer hover sobre "idInfo .icon-info" se miuestra .info-content
  document.addEventListener('DOMContentLoaded', () => {
    const infoContent = document.getElementById('inforcontenidoPopup');
    const iconInfo = document.getElementById(idIcon);
    iconInfo.addEventListener('click', () => {
      infoContent.style.visibility = 'visible';
      infoContent.style.opacity = '1';
      iconInfo.classList.add('show');
    });
    // add event on hover to iconInfo
    iconInfo.addEventListener('mouseover', () => {
      infoContent.style.visibility = 'visible';
      infoContent.style.opacity = '1';
      iconInfo.classList.add('show');
    });
    

    infoContent.addEventListener('mouseout', () => {
      infoContent.style.visibility = 'hidden';
      infoContent.style.opacity = '0';
      iconInfo.classList.remove('show');
    });
  });



</script>