---
import { Image } from "astro:assets";
import './style.css'
import IcoInfo from "@components/IcoInfo.astro";
import Accordeon from '@components/Accordion.astro';
import PopupsSection4 from "./PopupsSection4.astro";
import AudioPlayer from '@components/AudioPlayer.astro';

import fondoBanner from "@components/sections/section4/assets/Fondo.webp"
import fondoBanner2 from "@components/sections/section4/assets/fondo2.webp"
import sol from "@components/sections/section4/assets/sol.webp"
import bola from "@components/sections/section4/assets/bola.webp"
import maleta from "@components/sections/section4/assets/maleta.webp"
import mapa from "@components/sections/section4/assets/map.webp"
import zapatos from "@components/sections/section4/assets/zapatos.webp"
import textura from "@components/sections/section4/assets/textura.webp"
import textura2 from "@components/sections/section4/assets/textura-part3.webp"

import textura4_1 from "@components/sections/section4/assets/Textura4-1.webp"
import textura4_2 from "@components/sections/section4/assets/Textura4-2.webp"
import textura4_3 from "@components/sections/section4/assets/Textura4-3.webp"
import textura4_4 from "@components/sections/section4/assets/Textura4-4.webp"

import bgriesgos from "@components/sections/section4/assets/background-riesgos.webp"
import bgriesgos2 from "@components/sections/section4/assets/background-riesgos2.webp"
import fallecimientos from "@components/sections/section4/assets/fallecimientos.gif"
import secuestro from "@components/sections/section4/assets/secuestro.gif"
import delitos from "@components/sections/section4/assets/delitos.gif"
import robos from "@components/sections/section4/assets/robos.gif"
import trata from "@components/sections/section4/assets/trata.gif"
import cuadroRiesgos from "@components/sections/section4/assets/cuadro-riesgos.webp"
import explore from "@components/sections/section4/assets/explore.png"

import mujeres from "@components/sections/section4/assets/mujeres.webp"
import ninosNinas from "@components/sections/section4/assets/ninos-y-ninas.webp"
import discapacidad from "@components/sections/section4/assets/poblacion-discapacidad.webp"
import indigena from "@components/sections/section4/assets/poblacion-indigena.webp"
import lgtib from "@components/sections/section4/assets/poblacion-lgtib.webp"
import interaccion from '../section2/assets/interaccion.svg';

import fondoRiesgos from "@components/sections/section4/assets/fondo-riesgos.webp"
import fondoVocesMigrantes from "@components/sections/section4/assets/bg-voces-migrantes.webp"

// Images podcast from podcast1.webp to podcast8.webp
import podcast1 from "@components/sections/section4/assets/podcast1.webp";
import podcast2 from "@components/sections/section4/assets/podcast2.webp";
import podcast3 from "@components/sections/section4/assets/podcast3.webp";
import podcast4 from "@components/sections/section4/assets/podcast4.webp";
import podcast5 from "@components/sections/section4/assets/podcast5.webp";
import podcast6 from "@components/sections/section4/assets/podcast6.webp";
import podcast7 from "@components/sections/section4/assets/podcast7.webp";
import podcast8 from "@components/sections/section4/assets/podcast8.webp";
import podcastFondo from "@components/sections/section4/assets/podcast-audioFondo.svg";
import podcastLineas from "@components/sections/section4/assets/podcast-lineas.webp";

// Images footer
import footer1 from "@components/sections/section4/assets/footer1.webp";
import footer2 from "@components/sections/section4/assets/footer2.webp";
import enlaceOim from "@components/sections/section4/assets/CTA.svg";






---

<section id="seccion4">
  <!-- SECCION BANNER - PARTE 1 -->
  <div class="relative w-screen  banner-seccion4 bg-[#C9BBA0]" style={`background-image: url('${textura.src}')`}>
    <Image src={fondoBanner} alt="" class="w-screen h-auto"/>
    <Image src={sol} alt="" class="h-auto absolute top-0 right-0 sol-right"/>
    <Image src={fondoBanner2} alt="" class="w-screen h-auto absolute top-0 left-0"/>
    <Image src={bola} alt="" class="h-auto absolute bottom-0 left-0 top-[28%] max-w-[190px] bola-left"/>
    <Image src={maleta} alt="" class="h-auto absolute bottom-0 right-[24%] top-[35%] max-w-[300px]"/>
    <Image src={mapa} alt="" class="h-auto absolute  left-[4%] bottom-[13%] mapa-rotate"/>
    <Image src={zapatos} alt="" class="h-auto absolute  right-[2%] bottom-[8%] zapatos-rotate "/>
    <div class="section-title absolute w-screen  top-[20%]">
      <div class="titulo-seccion3 z-10 pb-36 pt-8  max-w-[1200px] mx-auto ">
        <div class="text-[58px] font-bold font-['Inika'] azul6 z-10 mb-4 leading-[1.1] pb-8">
          Riesgos vinculados al
        </div>
        <div class="z-10 text-[100px] azul6 uppercase font-['Formula'] font-bold leading-none">
          Tráfico Ilícito <br>de Migrantes
        </div>
      </div>
    </div>
  </div> 
  
  <!-- SECCION SLIDER - PARTE 2 -->
  <div class="relative w-screen  bg-[#C9BBA0] bg-fixed bg-cover pb-32" style={`background-image: url('${textura.src}')`} id="pinslider">
    <div class="slider-contenedor">
      <section class="slider-seccion flex items-center relative">
        <div class="max-w-[970px] w-[90%] mx-auto text-center">
          <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#E06900]">
            CADA AÑO MILES DE PERSONAS MIGRANTES
            MUEREN EN EL MUNDO A CAUSA DE ACTIVIDADES RELACIONADAS CON EL TRÁFICO ILÍCITO DE MIGRANTES (TIM)
          </h1>
          <p class="md:text-[36px] font-bold font-sans leading-[1.4] text-[#1F1F1F]">
            En la última década (2014-2024), se han documentado 9.350 muertes y desapariciones en las Américas.
          </p>
        </div>
      </section>
      <section class="slider-seccion flex items-center relative">
        <div class="max-w-[970px] w-[90%] mx-auto text-center">
          <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#E06900]">
            EL TRÁFICO ILÍCITO DE MIGRANTES (TIM) EXPONE 
            A GRAVES RIESGOS A LAS PERSONAS Y A LAS COMUNIDADES
          </h1>
          <p class="md:text-[36px] font-bold font-sans leading-[1.4] text-[#1F1F1F]">
            en mayor medida a aquellos grupos en situaciones de vulnerabilidad.
          </p>
        </div>
      </section>
    </div>
  </div>

  <!-- SECCION PRINCIPALES RIESGOS - PARTE 3 -->
  <div class="bg-[#D9D9D945] bg-fixed bg-cover bg-repeat pt-16" style={`background-image: url('${textura4_2.src}')`} id="principales-riesgos">
    <div class="max-w-[970px] w-[90%] mx-auto text-center pb-16 md:pb-[190px]">
      <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#B85600] titulo-principales-riesgos">
        PRINCIPALES RIESGOS A LOS QUE SE ENFRENTAN LAS PERSONAS QUE SON OBJETO DE TRÁFICO ILÍCITO DE MIGRANTES
      </h1>
    </div>

    <!-- Fallecimientos y desapariciones -->
    <div class="relative mb-48 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos cuadro-fallecimientos bg-no-repeat bg-cover" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Fallecimientos y desapariciones
      </h1>
      <div class="grid md:grid-cols-12 gap-4">
        <div class="md:col-span-4">
          <Image src={fallecimientos} alt="" class="w-full h-auto max-w-[278px] mx-auto"/>
        </div>
        <div class="md:col-span-8">
          <p class="font-sans text-2xl md:text-[28px] font-extrabold leading-[140%] pb-6">
            DURANTE EL AÑO 2022, SE CONTABILIZARON <b class="text-[#B85600]">1.465 MUERTES Y DESAPARICIONES</b> DE PERSONAS MIGRANTES EN LA REGIÓN DE LAS AMÉRICAS.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12"> 
            La mayoría de estos casos se deben al <b class="text-[#1870A0]">uso de medios de transporte en mal estado</b>, que viajan a altas velocidades o en condiciones de sobreocupación y con pocas o nulas medidas de seguridad, así como al tránsito por rutas peligrosas y bajo condiciones climáticas desafiantes.
          </p>
        </div>
      </div>
    </div>

    <!-- Secuestro, extorsión y confinamiento -->
    <div class="relative mb-48 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos cuadro-secuestro bg-no-repeat bg-cover" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Secuestro, extorsión y confinamiento
      </h1>
      <div class="grid md:grid-cols-12 gap-4 pl-8">
        <div class="md:col-span-9">
          <p class="font-sans text-2xl md:text-[28px] font-extrabold leading-[140%] pb-6">
            LAS PERSONAS MIGRANTES PUEDEN LLEGAR A SER <b class="text-[#B85600]">PRIVADAS DE SU LIBERTAD Y EXTORSIONADAS</b>.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12 mb-8"> 
            Las <b class="text-[#1870A0]">casas de seguridad</b>, son lugares en donde las redes de tráfico mantienen a las personas migrantes. 
            Generalmente estos espacios <b class="text-[#1870A0]">no cuentan con acceso a servicios básicos y presentan hacinamiento.</b> 
              Las casas de seguridad suelen ser escenarios de violencia sexual dirigida especialmente hacia mujeres migrantes.
          </p>
        </div>
        <div class="md:col-span-3">
          <Image src={secuestro} alt="" class="w-full h-auto max-w-[323px] mx-auto"/>
        </div>
      </div>
    </div>

    <!-- Involucramiento en otros delitos -->
    <div class="relative mb-48 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos cuadro-delitos bg-no-repeat bg-cover" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Involucramiento en otros delitos
      </h1>
      <div class="grid md:grid-cols-12 gap-4">
        <div class="md:col-span-4 flex items-center">
          <Image src={delitos} alt="" class="w-full h-auto max-w-[300px] mx-auto"/>
        </div>
        <div class="md:col-span-8">
          <p class="font-sans text-2xl md:text-[28px] leading-[140%] pb-6">
            <b class="text-[#B85600] font-extrabold">LA BÚSQUEDA DE CONTROL Y LA DISPUTA TERRITORIAL POR PARTE DE GRUPOS DELICTIVOS</b>
            <b class="font-extrabold">CONLLEVAN RIESGOS PARA LAS PERSONAS MIGRANTES EN TRÁNSITO,</b> 
            ya que pueden verse implicadas en actividades delictivas como el tráfico de armas y drogas, o acusaciones por fraude de documentos.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12"> 
            Estas situaciones se dan, principalmente, en casos donde las personas <b class="text-[#1870A0]">no cuentan con los recursos para financiar</b> el cruce irregular.
          </p>
        </div>
      </div>
    </div>

    <!-- Robos, estafas y fraudes -->
    <div class="relative mb-48 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos cuadro-robos bg-no-repeat bg-contain" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Robos, estafas y fraudes
      </h1>
      <div class="grid md:grid-cols-12 gap-4 pl-8">
        <div class="md:col-span-9">
          <p class="font-sans text-2xl md:text-[28px] font-extrabold leading-[140%] pb-6">
            LAS PERSONAS MIGRANTES PODRÍAN SER <b class="text-[#B85600]">VÍCTIMAS DE ACTOS VIOLENTOS, ROBOS Y ESTAFAS</b> DURANTE EL TRÁNSITO.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12 mb-8"> 
            La OIM ha identificado que en ocasiones, personas que se dedican al Tráfico Ilícito de Migrantes prometen llevar a las personas migrantes hasta un país de destino, para luego 
            <b class="text-[#1870A0]">abandonarlas en otro país o en medio de la ruta.</b>
          </p>
        </div>
        <div class="md:col-span-3">
          <Image src={robos} alt="" class="w-full h-auto max-w-[323px] mx-auto"/>
        </div>
      </div>
    </div>

    <!-- Trata de personas, trabajo forzado y explotación sexual -->
    <div class="relative mb-48 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos cuadro-trata bg-no-repeat bg-contain" style={`background-image: url('${bgriesgos2.src}')`}>
      <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full absolute -top-[12px]"></span>
      <h1 class="absolute md:ml-[6rem] -top-[47px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4 leading-[1.1]">
        Trata de personas, trabajo forzado y explotación sexual
      </h1>
      <div class="grid md:grid-cols-12 gap-4 md:pb-[9rem]">
        <div class="md:col-span-4 flex items-center">
          <Image src={trata} alt="" class="w-full h-auto max-w-[300px] mx-auto"/>
        </div>
        <div class="md:col-span-8">
          <p class="font-sans text-2xl md:text-[28px] leading-[140%] pb-6">
            <b class="font-extrabold">A ESTE RIESGO SE EXPONEN DE FORMA PARTICULAR</b> 
            <b class="text-[#B85600] font-extrabold">LAS MUJERES MIGRANTES, NIÑAS, NIÑOS Y ADOLESCENTES (NNA) Y PERSONAS MIGRANTES EXTRARREGIONALES.</b>
            
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12"> 
            En el caso de las personas migrantes extrarregionales, las personas traficantes suelen aprovecharse de su falta de conocimiento de la región, del idioma, así como de la falta de redes de apoyo, para desorientarlas y aprovecharse de ellas.
          </p>
        </div>
      </div>
      <IcoInfo 
        idInfo="info-riesgos" estilos="text-center pt-16 pb-28 cursor-pointer " idIcon="icon-riesgos" estilosIco="flex items-center justify-center"
        contenido=
          `
            Algunas veces en las afueras de albergues o en estaciones de autobuses,
            <b>PERSONAS QUE SE DEDICAN AL TRÁFICO ILÍCITO DE MIGRANTES SE ACERCAN A LAS PERSONAS MIGRANTES CON OFERTAS DE TRABAJO FALSAS</b>
            para luego trasladarlas a otras zonas del país o a países vecinos por lo que las y los migrantes se convierten también en <b>VICTIMAS DE TRATA DE PERSONAS</b>.
          `
      />
      <div class="pb-28"></div>
    </div>

  </div>

  <!-- SECCION OTROS RIESGOS ACORDEON -PARTE 4 -->
  <div class="bg-[#014979] bg-fixed bg-cover bg-repeat pt-24 md:-mt-[12rem] acordeon-riesgos pb-8" style={`background-image: url('${textura4_3.src}')`} id="otros-riesgos">
    <div class="max-w-[960px] w-[90%] mx-auto text-center pb-16 md:pb-[140px]">
      <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#D6EDFF] titulo-otros-riesgos ">
         OTROS RIESGOS VINCULADOS AL <br>TRÁFICO ILÍCITO DE MIGRANTES
      </h1>
    </div>
    <div class="acordeon-riesgos-contenedor">
      <Accordeon 
      title="Medios de transporte" 
      details=`
        <div class="contenido-acordeon max-w-[1072px] mx-auto bg-[#F6F4F3] relative">
          <p class="md:text-[20px] leading-[140%]">
            <b class=" uppercase ">EL Tráfico Ilícito de Migrantes (TIM) TIENE COMO FIN ÚLTIMO LA GENERACIÓN DE CAPITAL</b>, 
            por lo cual suele abaratar costos en los medios de transporte, trasladando a las personas migrantes en 
            <b class="text-[#25A7EF]">CONDICIONES RIESGOSAS</b>
            como por ejemplo transporte en mal estado, que viaja a altas velocidades, con sobreocupación y con pocas o nulas medidas de seguridad.
          </p>
          <div class="relative overflow-hidden">
            <img src="/sections/section4/assets/fondo-carretera2.webp" alt=""  class="w-full h-auto z-0"/>
            <img src="/sections/section4/assets/acordeon1-texto.svg" alt=""  class="w-full h-auto z-10 absolute top-0 left-0"/>
            <img src="/sections/section4/assets/carro.webp" alt=""  class="w-full h-auto absolute top-0 z-20 max-w-[1000px] -right-full carro-mover"/>
            <div class=" absolute bottom-[3.6rem] left-[3.5rem] text-[18px] text-[#F6F4F3] z-30 max-w-[380px]">
              De acuerdo con los datos del <br>
              <a href="https://missingmigrants.iom.int/es" target="_blank">
                <b class="text-[#FFA85C] font-bold underline">Proyecto Migrantes Desaparecidos</b>
              </a>,
              <br> 
              <b class="text-[#80CFFF] font-formula font-bold text-[30px] tracking-[0.6px]">de la totalidad de fallecimientos de personas migrantes en tránsito.</b><br>
              al menos 16% se relaciona con accidentes de tránsito.<br>
              (OIM, 2023a)
            </div>
          </div>
        </div>
        <style>
         .carro-mover {  
            animation: slideOut 10s forwards ease-in-out; 
            /* que la animacion se repita */
            animation-iteration-count: 1;
          }  

          @keyframes slideOut {  
            0% {  
              transform: translateX(0);  
            }  
            100% {  
              transform: translateX(-130%);  
            }  
          } 
        </style>
      `
    />

    <Accordeon 
      title="Clima y geografía" 
      details=`
        <div class="contenido-acordeon max-w-[1072px] mx-auto bg-[#F6F4F3] relative">
          <div class="relative">
            <img src="/sections/section4/assets/selva-lluviosa.gif" alt=""  class="w-full h-auto z-0"/>
          </div>
          <p class="md:text-[20px] leading-[140%] pt-4 pb-4">
            Dependiendo de la estación del año y de la zona geográfica, 
            <b class="text-[#1870A0]">las personas migrantes en tránsito se exponen a temperaturas extremas, fuertes lluvias, vientos, inundaciones en ríos, entre otros,</b> dificultando así el acceso a recursos básicos como agua potable, alimentos y servicios.
          </p>
        </div>
      `
    />

    <Accordeon 
      title="Tecnologías de la Información y la Comunicación (TICs)" 
      details=`
        <div class="contenido-acordeon max-w-[1072px] mx-auto bg-[#F6F4F3] relative">
          <p class="md:text-[20px] leading-[140%] pt-4 pb-4">
            El uso de las Tecnologías de la Información y la Comunicación (TICs), incluyendo las redes sociales, en el contexto del Tráfico Ilícito de Migrantes, incrementa la exposición de las personas migrantes a diversos riesgos, tales como:
          </p>
          <div class="relative">
            <img src="/sections/section4/assets/tics-acordeon.webp" alt=""  class="w-full h-auto z-0 mb-8"/>
            <img src="/sections/section4/assets/tics.gif" alt=""  class="absolute z-10 gif-tics "/>
          </div>
        </div>
      `
    />   
    </div>
     
    <div class="pt-32 pb-32">
      <Image src={cuadroRiesgos} alt="Durante el primer semestre del 2023 se rescataron 500 personas objeto de Tráfico Ilícito de Migrantes, que fueron abandonadas por sus guías en la zona limítrofe entre México y Estados Unidos." class="w-full h-auto mx-auto max-w-[467px]"/>
    </div>
  </div>


  <!-- LOS RIESGOS SE EXACERBAN - PARTE 5 -->
  <div class="bg-[#011E32] min-h-screen w-screen" id="los-riesgos-se-excerban">
    <div class="max-w-[960px] w-[90%] mx-auto text-center pb-16 md:pb-[90px] pt-16 md:pt-[80px]">
      <h1 class="text-[40px] md:text-[90px] font-bold font-formula leading-[1.2] tracking-[1.8px] text-center text-[#80CFFF] titulo-riesgos-se-excerban ">
         LOS RIESGOS SE EXACERBAN PARA POBLACIONES EN SITUACIONES DE VULNERABILIDAD
      </h1>
    </div>
    <p class="max-w-[1060px] text-center text-[#ffffff] text-[24px] md:text-[36px] leading-[140%] mx-auto texto-los-riesgos-se-excerban">
      Si bien todas las personas migrantes objeto de Tráfico Ilícito de Migrantes se exponen a múltiples riesgos, 
      <b class="text-[#80CFFF]">hay poblaciones que suelen verse más expuestas a situaciones de vulnerabilidad</b>
      de acuerdo con su perfil y, por ende, tienen<br>
      <b class="text-[#FFA85C] text-[40px]">NECESIDADES DE PROTECCIÓN DIFERENCIADAS.</b>
    </p>
    <Image src={explore} alt="Explore las imágenes" title="Explore las imágenes" class="mx-auto mb-16 mt-32"/>

    <div class="explorar-imagenes max-w-[1118px] min-h-[512px] flex flex-row gap-1 overflow-hidden text-[#ffffff] pb-32 mx-auto">
      <div class="flex-auto cuadros-poblaciones overflow-hidden" id="cuadro-mujeres" data-id-popup="">
        <div class="imagen-cuadro flex items-end">
          <Image src={mujeres} alt="" class="w-full h-auto"/>
          <div class="titulo-imagen relative z-10 flex justify-between flex-row w-full py-10 px-8 items-center">
            <h1>Mujeres</h1>
            <Image src={interaccion} alt=""  class="cursor-pointer" />
          </div>
        </div>
      </div>
      <div class="flex-auto cuadros-poblaciones overflow-hidden" id="cuadro-ninas">
        <div class="imagen-cuadro flex items-end">
          <Image src={ninosNinas} alt="" class="w-full h-auto"/>
          <div class="titulo-imagen relative z-10 flex justify-between flex-row w-full py-10 px-8 items-center">
            <h1>Niñas, niños y adolescentes (NNA)</h1>
            <Image src={interaccion} alt="" class="cursor-pointer" />
          </div>
        </div>
      </div>
      <div class="flex-auto cuadros-poblaciones" id="cuadro-discapacidad">
        <div class="imagen-cuadro flex items-end">
          <Image src={discapacidad} alt=""  class="w-full h-auto"/>
          <div class="titulo-imagen relative z-10 flex justify-between flex-row w-full py-10 px-8 items-center">
            <h1>Población con discapacidad</h1>
            <Image src={interaccion} alt=""  class="cursor-pointer" />
          </div>
        </div>
      </div>
      <div class="flex-auto  cuadros-poblaciones" id="cuadro-lgtib">
        <div class="imagen-cuadro flex items-end">
          <Image src={lgtib} alt=""  class="w-full h-auto"/>
          <div class="titulo-imagen relative z-10 flex justify-between flex-row w-full py-10 px-8 items-center">
            <h1>Poblaciones LGBTIQ+</h1>
            <Image src={interaccion} alt=""  class="cursor-pointer" />
          </div>
        </div>
      </div>
      <div class="flex-auto  cuadros-poblaciones" id="cuadro-indigena">
        <div class="imagen-cuadro flex items-end">
          <Image src={indigena} alt=""  class="w-full h-auto"/>
          <div class="titulo-imagen relative z-10 flex justify-between flex-row w-full py-10 px-8 items-center">
            <h1>Población indígena</h1>
            <Image src={interaccion} alt=""  class="cursor-pointer" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- POPUPS PARTE 5 -->
  <PopupsSection4 />


  <!-- RIESGOS VINCULADOS AL TRAFICO ILICITO DE MIGRANTES - PARTE 6 -->
  <div class="relative w-screen  banner-seccion4 bg-[#ffffff] md:pt-[15rem] md:pb-32 bg-no-repeat bg-cover bg-fixed overflow-hidden" style={`background-image: url('${fondoRiesgos.src}')`}>
    <div class="max-w-[1100px] w-[90%] mx-auto grid grid-cols-12 gap-20 pb-[12rem]">
      <div class="col-span-4"></div>
      <div class="col-span-8">
        <div class="cuadro-int bg-blanco p-6 cuadro-riesgo1">
          <p class="md:text-[20px] leading-[140%] text-[#013151]">
            Los riesgos asociados con el TIM y sus consecuencias no se limitan solo a las personas migrantes, 
            sino que <b class="text-[#E06900] uppercase">también IMPACTAN a las comunidades y sus residentes</b> ya que estas actividades pueden afectar 
            las condiciones de seguridad y los medios de trabajo de las personas y organizaciones sociales en el lugar.
          </p>
        </div>
      </div>
      <div class="grid gap-12 col-span-12 grid-cols-12 items-center">
        <div class="col-span-6">
          <div class="cuadro-int bg-blanco p-6 cuadro-riesgo2">
            <p class="md:text-[20px] leading-[140%] text-[#013151]">
              El fenómeno del <b>TRÁFICO ILÍCITO DE MIGRANTES SE HA VUELTO MUY VISIBLE EN LAS COMUNIDADES</b>, así como el “coyotaje”.
            </p>
          </div>
        </div>
        <div class="col-span-6">
          <div class="cuadro-int bg-blanco p-6 cuadro-riesgo3">
            <p class="text-[#B85600] md:text-[34px] font-serif font-bold leading-[1.4]">
              Riesgos vinculados al Tráfico Ilícito de Migrantes (TIM) en comunidades fronterizas o de tránsito
            </p>
          </div>
        </div>
      </div>
      <div class="col-span-2"></div>
      <div class="col-span-10">
        <div class="cuadro-int bg-blanco p-6 cuadro-riesgo4">
          <p class="pl-8 md:text-[20px] leading-[140%] text-[#013151]">
            Muchas comunidades fronterizas de la región tienen <b>poca presencia del Estado, 
            falta de oportunidades de empleo y acceso a la educación</b>, lo que aumenta su 
            vulnerabilidad frente a la expansión y normalización del Tráfico Ilícito de Migrantes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- VOCES MIGRANTES - PARTE 7 -->
  <div class="voces-migrantes relative md:pt-[18rem] md:pb-16 bg-[#10110fd6] bg-no-repeat bg-cover" style={`background-image: url('${fondoVocesMigrantes.src}')`}>
    <AudioPlayer
        src="/audios/audio1.mp3" 
        title="¿Cuál es la situación de seguridad en las comunidades fronterizas?" 
        subtitle="  " 
    />
    <div class="overlay2 bg-[#00000080] absolute top-0 left-0 right-0 bottom-0 z-0"></div>
    <div class="max-w-[1120px] w-[90%] mx-auto z-10 relative texto-voces-migrantes">
      <h1 class="text-[#D6EDFF] md:text-[78px] font-formula tracking-[1.156px] font-bold leading-none">VOCES DE MIGRANTES</h1>
      <p class="md:text-[34px] font-serif font-bold text-[#D6EDFF]">Riesgos y peligros de las personas objeto de Tráfico Ilícito de Migrantes</p>
    </div>
    <IcoInfo 
        idInfo="info-voces" estilos="text-center pt-16 pb-28 cursor-pointer " idIcon="icon-voces" estilosIco="flex items-center justify-center"
        contenido=
          `
            A continuación se presentan testimonios sobre tráfico ilícito de migrantes. Este contenido puede resultar sensible, 
            por lo que se recomienda discreción al escucharlo o compartirlo. Si usted o alguien que conoce necesita apoyo, 
            por favor busque a instituciones u organizaciones especializadas (puede encontrar información de contacto en 
            la sección 
            <a href="#denuncia" class="text-[#000000] font-bold underline">“Quien puede apoyar en casos de Tráfico Ilícito de Migrantes - Denuncias”)</a>.
            <br>
            <br>
            Las personas migrantes brindaron su consentimiento informado a la OIM para la
            grabación y divulgación de los testimonios. Adicionalmente, se ha realizado
             un proceso de anonimización, siguiendo los Principios de Protección de Datos de la OIM.
          `
      />
      <div class="overflow-hidden" style={`background-image: url('${podcastLineas.src}')`} id="podcast-voces" >
        <div class="podcast-voces relative w-screen overflow-hidden" >
          <div class="info-podcast swiper-wrapper">
            <!-- PRIMER PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast1} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
                <p class="text-[#D9D9D9] text-center font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] animacion1">
                  “personas que nos dijeron que iban a ayudarnos pero que muchas veces querían extorsionarnos o secuestrarnos” 
                </p>
                <!-- <button class="play-btn playing mx-auto"></button> -->
              </div>
            </div>
            <!-- SEGUNDO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="grid pb-10">
                    <p class="text-[#D9D9D9] text-center font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] pb-8 animacion1">
                      “delincuencia, personas malas”
                    </p>
                  
                    <p class="text-[#D9D9D9] font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] text-right animacion2">
                      “frio, lluvia, falta de comida”
                    </p>
                  
                </div>
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast2} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
              </div>
            </div>
            <!-- TERCER PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast3} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
                <p class="text-[#D9D9D9] text-center font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] animacion1">
                  “personas que fallecen y quedan en la selva”
                </p>
                <!-- <button class="play-btn playing mx-auto"></button> -->
              </div>
            </div>
            <!-- CUARTO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="grid pb-10">
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion2">
                      “hambre, angustia, terror, impotencia”
                    </p>
                  
                    <p class="text-[#D9D9D9] text-left font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion1">
                      “maltrato, delincuencia”
                    </p>
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion2">
                      “nos quitaron las pertenencias y nos dejaron a la deriva”
                    </p>
                    <p class="text-[#D9D9D9] text-left font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion1">
                      “casi nos matan”
                    </p>
                  
                </div>
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast4} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
              </div>
            </div>
            <!-- QUINTO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast5} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
                <p class="text-[#D9D9D9] text-center font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] animacion1">
                  “selva, muchos ladrones”
                </p>
                <!-- <button class="play-btn playing mx-auto"></button> -->
              </div>
            </div>
            <!-- SEXTO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="grid pb-10">
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion1">
                      “jugar con la vida, mucho peligro”
                    </p>
                  
                    <p class="text-[#D9D9D9] text-left font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion2">
                      “violan, atracan”
                    </p>
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion1">
                      “estamos poniendo en riesgo la vida de nuestros hijos”
                    </p>
                </div>
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast6} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
              </div>
            </div>
            <!-- SEPTIMO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast7} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
                <p class="text-[#D9D9D9] text-center font-serif xl:text-[20px] 2xl:text-[28px] font-bold leading-[1.2] animacion1">
                  “abuso sexual, secuestro, extorsión, robo, explotación sexual”
                </p>
                <!-- <button class="play-btn playing mx-auto"></button> -->
              </div>
            </div>
            <!-- OCTAVO PODCAST -->
            <div class="cuadro-podcast w-[400px] swiper-slide">
              <div class="interna-podcast relative text-center p-2">
                <div class="grid pb-10">
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion2">
                      “los niños sufren mucho”
                    </p>
                  
                    <p class="text-[#D9D9D9] text-left font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion1">
                      “hay muchos peligros en la ruta”
                    </p>
                    <p class="text-[#D9D9D9] text-right font-serif xl:text-[18px] 2xl:text-[20px] font-bold leading-[1.2] pb-6 animacion2">
                      “humillaciones”
                    </p>
                </div>
                <div class="interna-imagen relative overflow-hidden">
                  <Image src={podcast8} alt="" class="img-podcast max-w-[357px] hover:scale-125 duration-300 transition-transform"/>
                  <Image src={podcastFondo} alt="" class="absolute z-10 w-full max-w-[100px] top-[50%] left-[50%] h-auto transform -translate-x-1/2 -translate-y-1/2" />
                </div>
                <button class="play-btn mx-auto mt-4 mb-9"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

        
  </div>
  <!-- FOTTER SECCION 4 - PARTE 8 -->
  <div class="w-screen h-screen relative">  
    <div class="w-screen h-screen footer1 absolute transition-opacity duration-1000 ease-in-out">  
      <Image src={footer1} alt="" class="w-screen h-screen" />  
    </div>  
    <div class="w-screen h-screen footer2 absolute transition-opacity duration-1000 ease-in-out opacity-0">  
      <Image src={footer2} alt="" class="w-screen h-screen" />  
    </div>
    <div class="text-center w-screen absolute left-0 bottom-10">
      <a href="https://missingmigrants.iom.int/es" target="_blank">
        <Image src={enlaceOim} alt="enlace oim" title="Enlace oim" class="mx-auto"/>
      </a>  
    </div>
  </div>  
</section>





<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";
  // Configurar Swiper
  const swiper = new Swiper(".podcast-voces", {
    loop: true,            // definir si los slides estarán en bucle
    slidesPerView: 4,      // agregar número de slides para la pantalla
    // centeredSlides: false,
    spaceBetween: 20, 
    freeMode: true,     
    grabCursor: true,
  });
</script>


<style>
  .footer1 {  
    opacity: 1;  
  }  

  .footer2 {  
    opacity: 0;  
    animation: mostrar-imagen 2.5s infinite;
  }  
  @keyframes mostrar-imagen {  
    0% {  
      opacity: 0;  
    }  
    50% {  
      opacity: 1;  
    }  
    100% {  
      opacity: 0;  
    }
  }



  .footer1.show {  
    opacity: 0;  
  }  

  .footer2.show {  
    opacity: 1;  
  }  


  .swiper-slide {
    overflow: hidden;
  }
  .swiper-slide img.img-podcast {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }
  .animacion1 {  
    animation: fade-in1 6s infinite;  
    opacity: 0.5;  
    transition: opacity 6s ease;  
  }  

  .animacion2 {  
    animation: fade-in2 8s infinite;  
    opacity: 0.5;  
    transition: opacity 8s ease;  
  }  

  @keyframes fade-in1 {  
    0% {  
      opacity: 0.1;  
    }  
    10% {  
      opacity: 0.2;  
    }  
    20% {  
      opacity: 0.4;  
    }  
    30% {  
      opacity: 0.6;  
    }  
    40% {  
      opacity: 0.8;  
    }  
    50% {  
      opacity: 1;  
    }  
    60% {  
      opacity: 0.8;  
    }  
    70% {  
      opacity: 0.6;  
    }  
    80% {  
      opacity: 0.4;  
    }  
    90% {  
      opacity: 0.2;  
    }  
    100% {  
      opacity: 0.1; 
    }  
  }  

  @keyframes fade-in2 {  
    0% {  
      opacity: 0.1;  
    }  
    10% {  
      opacity: 0.2;  
    }  
    20% {  
      opacity: 0.4;  
    }  
    30% {  
      opacity: 0.6;  
    }  
    40% {  
      opacity: 0.8;  
    }  
    50% {  
      opacity: 1;  
    }  
    60% {  
      opacity: 0.8;  
    }  
    70% {  
      opacity: 0.6;  
    }  
    80% {  
      opacity: 0.4;  
    }  
    90% {  
      opacity: 0.2;  
    }  
    100% {  
      opacity: 0.1; 
    }   
  } 
</style>




<style>
    #pinslider {
    width: 100%;
    height: 100vh; /* Use 100vh for full viewport height */
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
  }
  .slider-contenedor {
    width: 200%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
  }
  .slider-seccion {
    height: 100%;
    width: 50%; /* relative to parent -> 50% of 200% = 100% of window width */
    float: left;
  }

  
    @media screen and (min-width: 1200px) {
      .podcast-voces {    
        margin-left: calc((100vw - 1200px) / 2);
      }
    }
    
  
  .play-btn {
    width: 40px;
    height: 40px;
    background: url('/icons/play2.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }

  .play-btn.playing {
    background: url('/icons/pause2.svg') no-repeat center;
    background-size: contain;
    background-color: white;
    border-radius: 50%;
  }
</style>