---
import { Image } from "astro:assets";
import './style.css'
import fondoBanner from "@components/sections/section4/assets/Fondo.webp"
import fondoBanner2 from "@components/sections/section4/assets/fondo2.webp"
import sol from "@components/sections/section4/assets/sol.webp"
import bola from "@components/sections/section4/assets/bola.webp"
import maleta from "@components/sections/section4/assets/maleta.webp"
import mapa from "@components/sections/section4/assets/map.webp"
import zapatos from "@components/sections/section4/assets/zapatos.webp"
import textura from "@components/sections/section4/assets/textura.webp"
import textura2 from "@components/sections/section4/assets/textura-part3.webp"
import bgriesgos from "@components/sections/section4/assets/background-riesgos.webp"
import fallecimientos from "@components/sections/section4/assets/fallecimientos.gif"
import secuestro from "@components/sections/section4/assets/secuestro.gif"
---

<section id="seccion4">
  <!-- SECCION BANNER - PARTE 1 -->
  <div class="relative w-screen  banner-seccion4 bg-[#C9BBA0]" style={`background-image: url('${textura.src}')`}>
    <Image src={fondoBanner} alt="" class="w-screen h-auto"/>
    <Image src={sol} alt="" class="h-auto absolute top-0 right-0 sol-right"/>
    <Image src={fondoBanner2} alt="" class="w-screen h-auto absolute top-0 left-0"/>
    <Image src={bola} alt="" class="h-auto absolute bottom-0 left-0 top-[28%] max-w-[190px] bola-left"/>
    <Image src={maleta} alt="" class="h-auto absolute bottom-0 right-[24%] top-[35%] max-w-[300px]"/>
    <Image src={mapa} alt="" class="h-auto absolute  left-[4%] bottom-[13%] mapa-rotate"/>
    <Image src={zapatos} alt="" class="h-auto absolute  right-[2%] bottom-[8%] zapatos-rotate "/>
    <div class="section-title absolute w-screen  top-[20%]">
      <div class="titulo-seccion3 z-10 pb-36 pt-8  max-w-[1200px] mx-auto ">
        <div class="text-[58px] font-bold font-['Inika'] azul6 z-10 mb-4 leading-[1.1] pb-8">
          Riesgos vinculados al
        </div>
        <div class="z-10 text-[100px] azul6 uppercase font-['Formula'] font-bold leading-none">
          Tráfico Ilícito <br>de Migrantes
        </div>
      </div>
    </div>
  </div> 
  
  <!-- SECCION SLIDER - PARTE 2 -->
  <div class="relative w-screen  bg-[#C9BBA0] bg-fixed bg-cover pb-32" style={`background-image: url('${textura.src}')`} id="pinslider">
    <div class="slider-contenedor">
      <section class="slider-seccion flex items-center relative">
        <div class="max-w-[970px] w-[90%] mx-auto text-center">
          <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#E06900]">
            CADA AÑO MILES DE PERSONAS MIGRANTES
            MUEREN EN EL MUNDO A CAUSA DE ACTIVIDADES RELACIONADAS CON EL TRÁFICO ILÍCITO DE MIGRANTES (TIM)
          </h1>
          <p class="md:text-[36px] font-bold font-sans leading-[1.4] text-[#1F1F1F]">
            En la última década (2014-2024), se han documentado 9.350 muertes y desapariciones en las Américas.
          </p>
        </div>
      </section>
      <section class="slider-seccion flex items-center relative">
        <div class="max-w-[970px] w-[90%] mx-auto text-center">
          <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#E06900]">
            EL TRÁFICO ILÍCITO DE MIGRANTES (TIM) EXPONE 
            A GRAVES RIESGOS A LAS PERSONAS Y A LAS COMUNIDADES
          </h1>
          <p class="md:text-[36px] font-bold font-sans leading-[1.4] text-[#1F1F1F]">
            en mayor medida a aquellos grupos en situaciones de vulnerabilidad.
          </p>
        </div>
      </section>
    </div>
  </div>

  <!-- SECCION PRINCIPALES RIESGOS - PARTE 3 -->
  <div class="bg-[#D9D9D945] bg-fixed bg-cover bg-repeat pt-16 pb-16" style={`background-image: url('${textura2.src}')`}>
    <div class="max-w-[970px] w-[90%] mx-auto text-center pb-16 md:pb-[190px]">
      <h1 class="text-[40px] md:text-[68px] font-bold font-formula leading-[1.2] tracking-[1.26px] text-center text-[#B85600] ">
        PRINCIPALES RIESGOS A LOS QUE SE ENFRENTAN LAS PERSONAS QUE SON OBJETO DE TRÁFICO ILÍCITO DE MIGRANTES
      </h1>
    </div>

    <!-- Fallecimientos y desapariciones -->
    <div class="relative mb-32 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos bg-no-repeat bg-cover" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Fallecimientos y desapariciones
      </h1>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-4">
          <Image src={fallecimientos} alt="" class="w-full h-auto max-w-[278px] mx-auto"/>
        </div>
        <div class="col-span-8">
          <p class="font-sans text-2xl md:text-[28px] font-extrabold leading-[140%] pb-6">
            DURANTE EL AÑO 2022, SE CONTABILIZARON <b class="text-[#B85600]">1.465 MUERTES Y DESAPARICIONES</b> DE PERSONAS MIGRANTES EN LA REGIÓN DE LAS AMÉRICAS.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12"> 
            La mayoría de estos casos se deben al <b class="text-[#1870A0]">uso de medios de transporte en mal estado</b>, que viajan a altas velocidades o en condiciones de sobreocupación y con pocas o nulas medidas de seguridad, así como al tránsito por rutas peligrosas y bajo condiciones climáticas desafiantes.
          </p>
        </div>
      </div>
    </div>

    <!-- Secuestro, extorsión y confinamiento -->
    <div class="relative mb-32 pt-32 max-w-[1100px] w-[90%] mx-auto cuadro-riesgos bg-no-repeat bg-cover" style={`background-image: url('${bgriesgos.src}')`}>
      <h1 class="absolute -top-[12px] text-[#1870A0] font-formula font-bold text-2xl md:text-[56px] tracking-[1.12px] uppercase pb-6 md:pb-[69px] flex flex-row items-start gap-4">
        <span class="ml-12 bg-[#45AFC0] w-[30px] h-[30px] inline-block rounded-full"></span>
        Secuestro, extorsión y confinamiento
      </h1>
      <div class="grid grid-cols-12 gap-4 pl-8">
        <div class="col-span-9">
          <p class="font-sans text-2xl md:text-[28px] font-extrabold leading-[140%] pb-6">
            LAS PERSONAS MIGRANTES PUEDEN LLEGAR A SER <b class="text-[#B85600]">PRIVADAS DE SU LIBERTAD Y EXTORSIONADAS</b>.
          </p>
          <p class="font-sans text-2xl md:text-[28px] font-normal leading-[140%] pb-12 mb-8"> 
            Las <b class="text-[#1870A0]">casas de seguridad</b>, son lugares en donde las redes de tráfico mantienen a las personas migrantes. 
            Generalmente estos espacios <b class="text-[#1870A0]">no cuentan con acceso a servicios básicos y presentan hacinamiento.</b> 
              Las casas de seguridad suelen ser escenarios de violencia sexual dirigida especialmente hacia mujeres migrantes.
          </p>
        </div>
        <div class="col-span-3">
          <Image src={secuestro} alt="" class="w-full h-auto max-w-[323px] mx-auto"/>
        </div>
      </div>
    </div>


  </div>
</section>


<style>
    #pinslider {
    width: 100%;
    height: 100vh; /* Use 100vh for full viewport height */
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
  }
  .slider-contenedor {
    width: 200%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
  }
  .slider-seccion {
    height: 100%;
    width: 50%; /* relative to parent -> 50% of 200% = 100% of window width */
    float: left;
  }
</style>

<script is:inline>
  // ANIMACION BANNER
  const controllerD = new ScrollMagic.Controller();
  const controllerD_2 = new ScrollMagic.Controller();

  let tween = TweenMax.to(".zapatos-rotate, .mapa-rotate", 1, {
      rotation: "-7.338deg",
      ease: "power3.inOut",
      repeat: -1,      
  }).yoyo(true);

  let tween3 = TweenMax.to(".bola-left", 6, {
        left: "90%",
        ease: "power3.inOut",
        repeat: -1,      
    }).yoyo(true);

  let tween2 = TweenMax.to(".sol-right",6,{
    right: "90%",
    ease: "power3.inOut",
    repeat: -1,      
  }).yoyo(true);


  new ScrollMagic.Scene({
      triggerElement: "#seccion4 .banner-seccion4",
      triggerHook: 0,
      duration: "350%",
    })
    .setTween(tween)
    .addTo(controllerD);



    new ScrollMagic.Scene({
      triggerElement: "#seccion4 .banner-seccion4",
      triggerHook: 0,
      duration: "350%",
    })
    .setTween(tween2)
    .addTo(controllerD);


    new ScrollMagic.Scene({
      triggerElement: "#seccion4 .banner-seccion4",
      triggerHook: 0,
      duration: "350%",
    })
    .setTween(tween3)
    .addTo(controllerD);

    new ScrollMagic.Scene({
      triggerElement: "#seccion4 .banner-seccion4",
      triggerHook: 0,
      duration: "150%",
    })
    // .addIndicators({name: "banner 4"})
    .setPin("#seccion4 .banner-seccion4")
    .addTo(controllerD_2);


    // ANIMACION SLIDER
    var controllerSlider4 = new ScrollMagic.Controller();
    var wipeAnimation = new TimelineMax()
      // animate to second panel
      .to(".slider-contenedor", 0.5, { z: -150 }) // move back in 3D space
      .to(".slider-contenedor", 1, { x: "-50%" }) // move in to first panel
      .to(".slider-contenedorr", 0.5, { z: 0 }) // move back to origin in 3D space
      new ScrollMagic.Scene({
      triggerElement: "#pinslider",
      triggerHook: 0,
      duration: "50%"
    })
      .setPin("#pinslider")
      .setTween(wipeAnimation)
      .addTo(controllerSlider4);

</script>