---
import { Image } from "astro:assets";
import './style.css'

import textura from "@components/sections/section4/assets/textura-part3.webp"
import fondoAnimado from "@components/sections/section8/assets/fondoAnimado.gif"
import fondoLineas from "@components/sections/section8/assets/fondoLineas.webp"
//src/components/sections/section8/assets/c1.webp
import fuente1 from "@components/sections/section8/assets/c1.webp"
import fuente2 from "@components/sections/section8/assets/c2.webp"
import fuente3 from "@components/sections/section8/assets/c3.webp"
import fuente4 from "@components/sections/section8/assets/c4.webp"
import fuente5 from "@components/sections/section8/assets/c5.webp"
import fuente6 from "@components/sections/section8/assets/c6.webp"
import fuente7 from "@components/sections/section8/assets/c7.webp"
import fuente8 from "@components/sections/section8/assets/c8.webp"
import fuente9 from "@components/sections/section8/assets/c9.webp"
import fuente10 from "@components/sections/section8/assets/c10.webp"
import fuente11 from "@components/sections/section8/assets/c11.webp"
import fuente12 from "@components/sections/section8/assets/c12.webp"
import fuente13 from "@components/sections/section8/assets/c13.webp"
import fuente14 from "@components/sections/section8/assets/c14.webp"
import fuente15 from "@components/sections/section8/assets/c15.webp"
import fuente16 from "@components/sections/section8/assets/c16.webp"
import fuente17 from "@components/sections/section8/assets/c17.webp"

import explore from "@components/sections/section8/assets/explore.svg"



---
<section id="seccion8">
  <!-- Seccion Banner - Parte 1 -->
  <div class="relative w-screen h-screen banner-seccion8 bg-[#D9D9D9] bg-cover bg-repeat"  style={`background-image: url('${textura.src}')`}>
    <Image src={fondoAnimado} alt="" class="w-screen h-auto absolute top-0 left-0 fondoAnimado" />
    <h1 class="max-w-screen w-[90%] mx-auto text-center azul6 z-10 text-[100px] azul6 uppercase font-formula font-bold leading-none pt-[200px] relative titulo-seccion8">
      créditos y fuentes
    </h1>
  </div>
  <!-- Seccion Banner/Texto - Parte 2 -->
  <div class="w-screen bg-[#D9D9D9] bg-cover pt-[190px] xl:pt-[220px] 2xl:pt-[60vh] pb-[190px] banner-texto-seccion8">
    <p class="max-w-[1082px] w-[90%] mx-auto lg:text-[2rem] text-center font-light leading-[140%] text-[#1F1F1F] animacion-up">
      Esta producción multimedia es el resultado del
    </p>
    <h1 class="font-formula lg:text-[72px] font-bold tracking-[1.4px] text-center max-w-[1220px] mx-auto text-[#026972] leading-[1.2] animacion-up">
      TRABAJO CONJUNTO REALIZADO POR LA CORETT,
    </h1>
    <p class="max-w-[1082px] w-[90%] mx-auto lg:text-[1.8rem] text-center font-light leading-[140%] text-[#1F1F1F] animacion-up">
      <b class="font-bold">desde la Presidencia en la gestión de Honduras y la Secretaría Técnica por Panamá</b>, con aportes de los países que integran este espacio regional, y la información de estudios desarrollados por la
       <b class="font-bold">Unidad de Investigación y Datos del Programa Regional sobre Migración de la Organización Internacional para las Migraciones.</b>
    </p>
  </div>
  <!-- SECCION CREDITOS - Parte 3 -->
  <div class="w-screen min-h-screen bg-[#026972] pb-12 relative overflow-hidden" id="seccionfuentes">
    <Image src={fondoLineas} alt="" class="w-screen h-fit absolute top-[61px] left-0 right-11 max-w-[1390px]" />
    <div class=" w-screen mx-auto text-center text-[#45afc0] text-[116px] font-bold font-formula uppercase tracking-[2.32px] titulo-fuentes relative z-0 pt-[114px]">
      <span class="bg-[#026972]">
        fuentes
      </span>
    </div>
    <div class="w-screen text-center pt-[20px] pb-[70px]">
      <Image src={explore} alt="" class="mx-auto" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 max-w-[1140px] mx-auto w-[90%] relative z-10 animaciones-fuentes">
      <div class="col-span-2 animacion-opacity">
        <a href="https://rosanjose.iom.int/sites/g/files/tmzbdl1446/files/documents/2024-02/oim_estudio_perfiles_240221-final-1.pdf" target="_blank">
          <Image src={fuente1} alt="Perfiles y modos de operación de personas facilitadoras del tráfico ilícito de migrantes en América Central, México y la República Dominicana." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://programamesocaribe.iom.int/sites/default/files/estudio_regional_timytics_final.pdf" target="_blank">
          <Image src={fuente2} alt="Las tecnologías de la información y comunicación y el tráfico ilícito de migrantes en América Central, México y la República Dominicana." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://mexico.iom.int/es/resources/diagnostico-comunitario-sobre-trafico-ilicito-de-migrantes-en-la-zona-fronteriza-tapachula-mexico-san-marcos-guatemala" target="_blank"></a>
        <Image src={fuente3} alt="Diagnóstico comunitario sobre tráfico ilícito de migrantes en la zona fronteriza Tapachula (México)-San Marcos (Guatemala)." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://kmhub.iom.int/sites/default/files/informe_tim_abr.pdf" target="_blank">
          <Image src={fuente4} alt="El Tráfico Ilícito de Migrantes en Centroamérica y México en el contexto de la COVID-19." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://www.coalicioncorett.com/_files/ugd/001469_ea43aff95e5f4963a7b1ed9572521192.pdf" target="_blank">
          <Image src={fuente5} alt="Estrategia Regional de Prevención de la Trata de Personas y el Tráfico Ilícito de Migrantes." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left ">
        <a href="https://missingmigrants.iom.int" target="_blank">
          <Image src={fuente6} alt="Missing Migrants Project Data." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://www.unodc.org/documents/data-and-analysis/glosom/GLOSOM_2018_web_small.pdf" target="_blank">
          <Image src={fuente7} alt="Global Study on Smuggling of Migrants." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://publications.iom.int/system/files/pdf/iml-34-glossary-es.pdf" target="_blank">
          <Image src={fuente8} alt="Glosario de la OIM sobre Migración." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://rosanjose.iom.int/es/tablero-interactivo-personas-migrantes-en-transito-por-las-americas" target="_blank">
          <Image src={fuente9} alt="Personas migrantes en tránsito por las Américas." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://www.coalicioncorett.com/_files/ugd/001469_e616a0375a174342a566ab53669b955e.pdf" target="_blank">
          <Image src={fuente10} alt="Plan estratégico de la Coalición Regional contra la Trata de Personas y el Tráfico Ilícito de Migrantes 2018-2027." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://www.unodc.org/documents/treaties/UNTOC/Publications/TOC%20Convention/TOCebook-s.pdf" target="_blank">
          <Image src={fuente11} alt="Protocolo contra el Tráfico Ilícito de Migrantes por Tierra, Mar y Aire, que complementa la Convención de las Naciones Unidas contra la Delincuencia Organizada Transnacional." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://www.youtube.com/watch?v=islwU4Hi8KI" target="_blank">
          <Image src={fuente12} alt="¿Qué es la REDTRAM?." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
          <Image src={fuente13} alt="Tablero de datos sobre Tráfico Ilícito de Migrantes." class="h-auto" /> 
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://rosanjose.iom.int/es/tablero-interactivo-personas-migrantes-en-transito-por-las-americas" target="_blank">
          <Image src={fuente14} alt="Tablero Interactivo Personas Migrantes en Tránsito por las Américas." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://robuenosaires.iom.int/es/resources/tendencias-migratorias-en-las-americas-febrero-2023" target="_blank">
          <Image src={fuente15} alt="Tendencias Migratorias en las Américas - Febrero 2023." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-left">
        <a href="https://www.unodc.org/toc/es/crimes/migrant-smuggling.html" target="_blank">
          <Image src={fuente16} alt="Tráfico ilícito de migrantes: la dura búsqueda de una vida mejor." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
      <div class="col-span-1 animacion-right">
        <a href="https://programamesocaribe.iom.int/es/ventanillas" target="_blank">
          <Image src={fuente17} alt="Ventanillas informativas sobre Migración." class="h-auto hover:scale-105 hover:transition-all cursor-pointer" /> 
        </a>
      </div>
    </div>
  </div>
</section>