---
import { Image } from "astro:assets";
import grafico from "../section1/assets/grafico.webp";
import video from "../section1/assets/video.webp";
import numero1 from "../section1/assets/n1.svg";
import numero2 from "../section1/assets/n2.svg";
import numero3 from "../section1/assets/n3.svg";
import numero4 from "../section1/assets/n4.svg";
import lancha from "../section1/assets/lancha.webp";
import camion from "../section1/assets/camion.webp";
import footer from "../section1/assets/footer-seccion1.webp";
import oimFooter from "../section1/assets/oim-footer.svg";
import play from "@components/sections/section7/assets/play.svg"
import Popup from "@components/Popup.astro";
import pasos from "@components/assets/pasos.gif"


---

<section id="seccion1-2">
  <div class="titulo-animado background-azul h-auto text-center overflow-hidden ">
    <!-- Seccion de texto animado -->
    <div class="texto-animado flex flex-col font-formula text-[80px] uppercase leading-none azul-3 p-24 font-bold tracking-[1.6px] shadow-text">
      <span>El Tráfico Ilícito de Migrantes (TIM) es un</span>
      <spand>elito contra los estados que pone en riesgo </spand>
      <span>a las personas migrantes en tránsito</spand>
    </div>

    <!-- Seccion con dos cuadros informativos -->
    <div class="con-cuadros relative">
      <div class="cuadro1 cuadro flex flex-col text-[22px] font-sans gap-4 justify-center p-12 absolute left-[10%] top-[10%]">
        <div class="borde borde-sup-izq absolute"></div>
        <div class="borde borde-sup-der absolute"></div>
        <div class="borde borde-inf-izq absolute"></div>
        <div class="borde borde-inf-der absolute"></div>
        <div class="titulo azul"><b>¿Quiénes facilitan la migración irregular en el Tráfico Ilícito de Migrantes (TIM)?</b></div>
        <div class="texto">
          Las actividades relacionadas con el TIM son 
          facilitadas por personas o redes “que cometen o 
          tienen la intención de cometer el <b>delito de tráfico de migrantes”.</b>
        </div>
        <div class="creador">(OIM, 2019)</div>
      </div>
      
      <div class="cuadro2 cuadro flex flex-col text-[22px] font-sans justify-center p-12 gap-4 absolute right-[10%] bottom-[5%]">
        <div class="borde borde-sup-izq absolute"></div>
        <div class="borde borde-sup-der absolute"></div>
        <div class="borde borde-inf-izq absolute"></div>
        <div class="borde borde-inf-der absolute"></div>
        <div class="titulo azul"><b>¿Quién es una persona OBJETO de Tráfico Ilícito de Migrantes (TIM)?</b></div>
        <div class="texto ">
          Es toda aquella persona migrante que sea o haya sido 
          <b>objeto del delito de TIM,</b> 
          independientemente de que el infractor haya sido o no 
          identificado, aprehendido, enjuiciado o condenado.
        </div>
        <div class="creador">(OIM, 2019)</div>
      </div>
    </div>
    <div class="animate-grafico"></div>
    <!-- Seccion con grafico -->
    <div class="seccion-grafico flex flex-wrap items-center justify-center gap-12 text-[1.75rem] pb-24">
      <div class="izquierda grafico relative">
        <Image src={grafico} alt="grafico" class="mt-11"/>
        <Image src={pasos} alt="grafico" class=" absolute top-0 left-0 z-10" />
      </div>
      <div class="derecha texto max-w-[30%] blanco p-8 text-left text-[28px] font-light text-[#F6F4F3]">
        <p>
          Según el 
          <span class=" italic">Boletín de datos sobre migración en tránsito por las Américas</span>
           de la OIM, la cifra de personas migrantes que ingresaron a la selva del Darién en enero del 2024
        </p>
        <p>
          <strong class="naranja4 text-[2.5rem] font-bold">aumentó un <span class="text-[3rem]">48%</span></strong>
        </p>
        <p>respecto al mismo mes del 2023.</p>
      </div>
    </div>
  </div>
</section>
<div class="animate-video"></div>
<!-- Seccion GRIS final -->
<section id="seccion1-3" class="background-gris3" >
  <div class="seccion-video flex flex-col" >
    <h1 class="titulo-video text-center font-bold font-['Formula'] text-[3rem] azul max-w-5xl m-auto pt-16 pb-16 invisible-zoom">¿Qué MOTIVA a las personas migrantes a utilizar el Tráfico Ilícito de Migrantes en su tránsito por la región?</h1>
    <div class="relative">
      <Image src={video} alt="grafico" class="m-auto pb-16 img-video invisible-zoom"/>
      <Image src={play} alt="" class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 cursor-pointer hover:filter hover:scale-110 hover:opacity-85 hover:transition-all" id="playvideo1"/>
    </div>
    <Popup idInteraccion="playvideo1" idPopup="popup-video2"
    contenido= `
      <div class="video-container">  
        <video controls>  
          <source src="/videos/VIDEO_SECCION1.mp4" type="video/mp4">  
          Tu navegador no es compatible con el elemento de video.  
        </video>  
      </div>  
    `/>
  </div>
  <!-- PASOS -->
  <div class="seccion-pasos pt-24">
    <!-- PASO 1 -->
    <div class="paso1">
      <div class="cuadro-con-numero max-w-[900px] m-auto relative background-blanco p-8 azul text-xl">
        <Image src={numero1} alt="numero" class="absolute -left-12 -top-8 " />
        <p class="pb-3">
          Según el <b>Protocolo contra el Tráfico Ilícito de Migrantes por Tierra, 
          Mar y Aire</b>, artículo 3.a, la definición internacional de tráfico ilícito 
          de migrantes es la facilitación de la entrada ilegal de una persona a un 
          país del cual no sea nacional o residente permanente para obtener,
          directa o indirectamente, un beneficio financiero u otro de orden material.
        </p>
        <p>
          En suma, <b>lo que se reprocha es la facilitación intencional de la entrada
           ilegal a cambio de un beneficio, y el reproche se hace a quien trafica.</b>
        </p>
        <Image src={lancha} alt="numero" class="absolute -right-[11rem] -bottom-[15rem] " />
      </div>
    </div>

    <!-- PASO 2 -->
    <div class="paso2 mt-8 flex flex-row max-w-[1200px] m-auto gap-28 pt-16 pb-16">
      <div class="paso-izquierda text-[2.5rem] font-['inika'] azul text-center font-bold leading-[1.25]">
        <p>¿Por qué las personas migrantes que usan el Tráfico 
          Ilícito de Migrantes (TIM) para facilitar su tránsito por la región, 
          son <span class="naranja3 text-[3rem]">OBJETO</span> y no VÍCTIMAS?</p>
      </div>
      <div class="paso-derecha flex items-end justify-end">
        <div class="cuadro-con-numero relative background-blanco p-8 azul text-xl">
          <Image src={numero2} alt="numero" class="absolute -left-12 -top-8 " />
          <p>
            El artículo 5 del mismo Protocolo, aclara que las personas migrantes <b>no 
            estarán sujetas a enjuiciamiento penal</b>, por haber sido objeto de alguna 
            de las conductas que enuncia el artículo 6, entre ellas el tráfico ilícito de migrantes. 
            El artículo 2, también hace esa aclaración terminológica.
          </p>
        </div>
      </div>
    </div>

    <!-- PASO 3 -->
    <div class="paso3 max-w-[1200px] m-auto flex flex-row gap-8 relative">
      <Image src={camion} alt="camion" class="absolute -top-6"/>
      <div class="cuadro-con-numero relative background-blanco p-8 azul text-xl max-w-[840px] ml-auto">
        <Image src={numero3} alt="numero" class="absolute -left-12 -top-8 " />
        <p>
          El mismo Protocolo categoriza a las personas migrantes como quienes 
          <b>han sido objeto de la conducta.</b> El enfoque del Protocolo es <b>asentar 
          el crimen del tráfico ilícito de migrantes principalmente como uno 
          contra el Estado</b> y fortalecer la cooperación entre estos para prevenirlo y 
          combatirlo, así como <b>proteger los derechos de las personas migrantes.</b>
        </p>
      </div>
    </div>

    <!-- PASO 4 -->
    <div class="paso4 max-w-[1200px] m-auto flex flex-row gap-8 relative pt-16">
      <div class="cuadro-con-numero relative background-blanco p-8 azul text-xl max-w-[1080px] ml-auto">
        <Image src={numero4} alt="numero" class="absolute -left-12 -top-8 " />
        <p>
          Esto no excluye que la <b>persona objeto de tráfico, pueda llegar a ser “víctima” 
          de otros delitos</b> cometidos o facilitados por personal traficante, de hecho, 
          está bien documentado que las mismas redes criminales que facilitan el tráfico 
          ilícito de migrantes cometen abusos, explotan o violentan a las personas migrantes, 
          llegando a configurarse delitos contra estos y por supuesto, <b>aprovechándose de las 
          vulnerabilidades que presentan al migrar de forma irregular.</b>
        </p>
      </div>
    </div>
    <div class="text-right font-light italic text-[0.9rem] max-w-[1200px] m-auto pt-6 azul">Extractos de entrevista a experto de OIM en temas de Protección, Tim Howe.</div>

    <div class="footer-seccion1 relative">
      <Image src={footer} alt="Footer sección 1" class="w-[100%] pt-8"/>
      <Image src={oimFooter} alt="OIM" class="absolute bottom-20 left-0 right-0 cursor-pointer mr-auto ml-auto" />
      <div class="flotante-oim absolute text-right w-[100%] top-[60%]">
        <div class="max-w-[1200px] text-right azul m-auto text-xl">© OIM 2024</div>
      </div>
    </div>
  </div>
</section>
