---
import { Image } from "astro:assets";
import menu from "@public/icons/menu.svg"
import home from "@public/icons/inicio.svg"
import ayuda from "@public/icons/ayuda.svg"
import audioPlay from "@public/icons/audio-play.svg"
import audioStop from "@public/icons/audio-stop.svg"


import Popup from "@components/Popup.astro";

//Menu principal
import fondoMenu from "@components/assets/fondoMenu.webp"
import menu1 from "@components/assets/menu1.webp"
import menu2 from "@components/assets/menu2.webp"
import menu3 from "@components/assets/menu3.webp"
import menu4 from "@components/assets/menu4.webp"
import menu5 from "@components/assets/menu5.webp"
import menu6 from "@components/assets/menu6.webp"
import menu7 from "@components/assets/menu7.webp"
import menu8 from "@components/assets/menu8.webp"

//Menu ayuda
import fondoAyuda from "@components/assets/fondoAyuda.webp"
import logos from "@components/assets/logos4.webp"
import mouse from "@components/sections/section1/assets/mouse.gif"
import info from "@public/images/info.gif"
import play from "@public/icons/playSolo.svg"
import link from "@components/assets/link.svg"






---

<div class="menu-lateral fixed z-[9998] right-0 md:right-2 top-[5%] md:top-[25%]  flex-col gap-4 flex overflow-y-auto md:overflow-hidden">
  <div class="menu"  data-tooltip-placement="left">
    <Image src={menu} alt="Menú" class="cursor-pointer max-w-[35px] md:max-w-[56px]" id="imenu"/>
  </div>
  <div class="home"  data-tooltip-placement="left">
    <a href="/#seccion1-1">
      <Image src={home} alt="Inicio" class="cursor-pointer max-w-[35px] md:max-w-[56px]" id="ihome"/>
    </a>
  </div>
  <div class="ayuda hidden md:block"  data-tooltip-placement="left">
    <Image src={ayuda} alt="Ayuda" class="cursor-pointer" id="iayuda"/>
  </div>
  <button id="reproducirInicio" class="audio pt-[3rem] md:pt-[10rem]">
    <Image src={audioPlay} alt="Ayuda" class="cursor-pointer max-w-[35px] md:max-w-[56px]" id="reproducir"/>
  </button>
  <audio id="audioInicio" autoplay muted src="/audios/Audio1_op2.mp3"></audio>  
</div>



<Popup idInteraccion="imenu" idPopup="popup-lateral"
    contenido= `
      
      <div class="w-screen h-screen bg-cover flex items-center flex-col justify-center gap-4" style="background-image: url('${fondoMenu.src}">

        <div class="grid lg:grid-cols-3 gap-4 items-center justify-center">
          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion1-1" class="cursor-pointer link_menu">
              <Image src=${menu1.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0 hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                VOCES <br>
                Y DATOS
              </h1>
            </a>
          </div>

          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion2-1" class="cursor-pointer link_menu">
              <Image src=${menu2.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0  hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                modos de operación <br>
                de las redes
              </h1>
            </a>
          </div>

          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion3" class="cursor-pointer link_menu">
              <Image src=${menu3.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0 hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                datos disponibles <br>sobre personas <br>objeto
              </h1>
            </a>
          </div>
        </div>

        <!-- SEGUNDA LINEA MENU -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 items-center justify-center">
          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion4" class="cursor-pointer link_menu">
              <Image src=${menu4.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0 hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                riesgos <br>
                vinculados
              </h1>
            </a>
          </div>

          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion5" class="cursor-pointer link_menu">
              <Image src=${menu5.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0  hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                PROTECCIÓN Y ATENCIÓN <br>A PERSONAS OBJETO
              </h1>
            </a>
          </div>
        </div>

        <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 items-center justify-center">
          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion6" class="cursor-pointer link_menu">
              <Image src=${menu6.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0 hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                ADMINISTRAción <br>de la justicia
              </h1>
            </a>
          </div>

          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion7" class="cursor-pointer link_menu">
              <Image src=${menu7.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0  hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                prevención
              </h1>
            </a>
          </div>

          <div class="col-span-1 item_menu relative overflow-hidden w-[70vw] h-[10vh] md:w-[70vw] md:h-[40vh] lg:w-[350px] lg:h-[200px] flex items-center justify-center flex-col">
            <a href="/#seccion8" class="cursor-pointer link_menu">
              <Image src=${menu8.src} alt="" class="cursor-pointer absolute w-full object-cover h-auto top-0 left-0 hover:transition-all"/>
              <h1 class="text-[#fff] font-formula text-[18px] lg:text-[40px] font-bold tracking-[0.8px] uppercase text-center relative z-10 leading-[1.1]">
                créditos y fuentes
              </h1>
            </a>
          </div>
        </div>
      </div>
    
    `/>





<Popup idInteraccion="iayuda" idPopup="popup-lateral2"
  contenido= `
    <div 
  class="w-screen h-screen bg-cover flex items-center flex-col justify-center gap-4 relative" style="background-image: url('${fondoAyuda.src}">
  <Image src=${logos.src} alt="Logo" class=" absolute top-[3vh] left-[4vw] hidden lg:max-w-[240px] lg:block"/>
  <h1 class="text-center text-[#80CFFF] font-formula text-[30px] md:text-[70px] font-bold tracking-[1.56px] uppercase leading-[1.1]">
    ¿CÓMO NAVEGAR ESTE SITIO?
  </h1>
  <!-- FILA 1 -->
  <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 items-center justify-center max-w-[1100px] w-[90%] text-[#D6EDFF]">
    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${mouse.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Desplácese hacia abajo</div>
    </div>

    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${menu.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Haga clic en el ícono de menú para navegar por las secciones</div>
    </div>

    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${audioPlay.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Suba el volumen para una mejor experiencia</div>
    </div>
  </div>
  <!-- FILA 2 -->
  <div class="grid lg:grid-cols-4 grid-cols-1 gap-8 items-center justify-center max-w-[1280px] w-[90%] text-[#D6EDFF] pt-20">
    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${play.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Active y pause los audios haciendo clic en este ícono</div>
    </div>

    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex flex-col justify-center">
        <Image src=${info.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Pase el mouse por encima para ver aclaraciones importantes</div>
    </div>

    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${link.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Cuando vea este ícono puede interactuar con los diferentes elementos en pantalla</div>
    </div>
    <div class="col-span-1 text-center h-full text-base lg:text-[20px] leading-[1.2] font-light">
      <div class="image min-h-[145px] flex">
        <Image src=${home.src} alt="" class="max-w-[55px] mx-auto" />
      </div>
      <div class="text">Haga clic en este ícono en cualquier momento para regresar al inicio</div>
    </div>
  </div>
</div>
  `
  />






  <style>
      .link_menu > img {
    filter: brightness(0.5);
    transition: all 0.3s ease-in-out;
  }
  .link_menu:hover > img {
    filter: brightness(1);
    transform: scale(1.5);
  }
  .link_menu:hover h1 {
    text-shadow: 1px 1px 1px black;
  }

 
  </style>

<script>  
  document.addEventListener("DOMContentLoaded", () => {  
      const reproducirBtn = document.getElementById("reproducirInicio");  
      var audioElementInicio = document.getElementById("audioInicio"); 

      let isPlayingInicio = false;  

      reproducirBtn.addEventListener("click", () => {  
          if (!isPlayingInicio) {  
              audioElementInicio.play();  
              reproducirBtn.innerHTML = '<img src="/icons/audio-stop.svg" class="max-w-[35px] md:max-w-[56px]" alt="Detener" />';  
              isPlayingInicio = true;  
          } else {  
              audioElementInicio.pause();  
              audioElementInicio.currentTime = 0;  
              reproducirBtn.innerHTML = '<img src="/icons/audio-play.svg" class="max-w-[35px] md:max-w-[56px]" alt="Reproducir" />';  
              isPlayingInicio = false;  
          }  
      });  

      audioElementInicio.addEventListener('ended', () => {  
        // Restablecer el progreso y el botón de reproducción  
        reproducirBtn.innerHTML = '<img src="/icons/audio-play.svg" class="max-w-[56px]" alt="Reproducir" />';
        isPlayingInicio = false;
        audioElementInicio.currentTime = 0;  
    });

    const seccion2 = document.getElementById('seccion2-1');  

       // Función para detectar si estamos en la sección 2  
      function isElementInViewport(el) {  
        const rect = el.getBoundingClientRect();  
        
        return (  
            rect.top <= 0
            //&&  
            //rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)  
        );  
      } 
      audioElementInicio = document.getElementById("audioInicio");
      if (!isElementInViewport(seccion2)) {  
        
        if (!isPlayingInicio) {
          // setTimeout(() => {  
          //   reproducirBtn.click(); // Simula el clic en el botón  
          // }, 3000);
          console.log("Estoy en el inicio")
          audioElementInicio.muted = false;
          reproducirBtn.innerHTML = '<img src="/icons/audio-stop.svg" class="max-w-[56px]" alt="Detener" />';  
          isPlayingInicio = true; 
        }
      } else {
        console.log("Pruebas")
        audioElementInicio.pause();  
        audioElementInicio.currentTime = 0;  
        reproducirBtn.innerHTML = '<img src="/icons/audio-play.svg" class="max-w-[35px] md:max-w-[56px]" alt="Reproducir" />';
        isPlayingInicio = false;
        audioElementInicio.removeAttribute("autoplay");
      }

        // Evento de scroll  
      window.addEventListener('scroll', function() {  
          
          // console.log(seccion2);
          
          if (isElementInViewport(seccion2)) {  
            reproducirBtn.classList.add('hidden');
            if (isPlayingInicio) {
              audioElementInicio.pause();  
              audioElementInicio.currentTime = 0;  
              reproducirBtn.innerHTML = '<img src="/icons/audio-play.svg" class="max-w-[35px] md:max-w-[56px]" alt="Reproducir" />';
              isPlayingInicio = false;
            }
          } else {  
            reproducirBtn.classList.remove('hidden');
          }  
      }); 
  });  
</script>